[2021-03-10 15:22] PowerVANO opened #1 "*** Test Issue *** used for testing HDE"
**This is the 1st test issue for testing HDE website.**

Rewards are here for testing purposes and won't be paid.

[2021-03-10 15:25] PowerVANO opened #2 "*** Test Issue N2 *** used for testing HDE"
**This is the 2nd test issue for testing HDE website.**

Rewards are here for testing purposes and won't be paid.

[2021-04-01 07:55] favirnho commented on #1
This is the 1st test issue for testing HDE website.

Rewards are here for testing purposes and won't be paid

[2021-04-06 10:24] PowerVANO commented on #2
Test message

[2021-04-10 19:21] Romashka907 commented on #1
Rewards are here for testing purposes and won't be paid

[2021-04-11 01:24] cptyadav opened #3 "stzen"
not buy stzen token

[2021-04-11 11:17] Santander2020 commented on #2
Hello, I’d like to know about everything

[2021-04-11 11:22] Santander2020 opened #4 "*** Test Issue N2 *** used for testing HDE HDE bounty_50 bounty_paid good first issue"
*** Test Issue N2 *** used for testing HDE HDE  bounty_50  bounty_paid  good first issue

[2021-04-13 23:13] piotrm89 commented on #2
:)

[2021-04-15 00:36] JJJNFS commented on #2
Rewards are here for testing purposes and won't be paid.

[2021-04-16 12:45] #1 closed

[2021-04-17 21:03] Dthony7 commented on #2
I think so Rewards are here for testing purposes and won't be paid.

[2021-04-18 02:28] jmarcosoliver commented on #2
here is my participation... maybe I win.

[2021-04-18 16:04] dungth17 commented on #2
I want money

[2021-04-19 03:23] eaknarak2009 commented on #2
Good

[2021-04-19 17:22] tash96 opened #5 "prueba"
aquí está mi participación ... tal vez yo gane.

[2021-04-20 11:14] nik2013-cell commented on #2
Хочу заработать

[2021-04-20 13:03] PowerVANO opened #6 "*** Test Issue N3 *** used for testing HDE"
*** Test Issue N3 *** used for testing HDE

[2021-04-20 13:03] PowerVANO opened #7 "*** Test Issue N4 *** used for testing HDE"
*** Test Issue N4 *** used for testing HDE

[2021-04-20 13:03] PowerVANO opened #8 "*** Test Issue N5 *** used for testing HDE"
*** Test Issue N5 *** used for testing HDE

[2021-04-20 13:05] PowerVANO commented on #5
If you want to participate in stZEN, this is not the correct place for it.

[2021-04-20 13:05] #5 closed

[2021-04-20 13:05] #3 closed

[2021-04-20 13:05] #4 closed

[2021-04-23 04:35] #8 closed

[2021-04-23 04:35] #7 closed

[2021-04-23 04:36] #6 closed

[2021-04-23 04:36] #2 closed

[2021-04-23 04:47] PowerVANO opened #9 "Ambassador Task: Create a video about Horizen’s ecosystem"
**Goals:**
- Create a short video highlighting your favorite aspects of the Horizen ecosystem (such as Sphere by Horizen, HDE, etc)
- Share the video on your preferred platform

**Scope of work:**

This video should be 5 minutes or less and must cover at least one of your favorite aspects of the Horizen ecosystem.

**Schedule Milestones:**

This task may only be completed by an **official Horizen

[2021-04-23 04:50] PowerVANO opened #10 "Create a video about stZEN"
**Goals:**
- Create a short video highlighting what stZEN is and the uses of our new ERC-20 token
- Share the video on your preferred platform

**Scope of work:**

You must create an in-depth video (no less than 5 minutes) about stZEN for beginners
The video can be in any of the following styles:

- Token review style
- Explainer style
- Tutorial style

The video must include the following content

[2021-04-23 04:53] PowerVANO opened #11 "Ambassador Task: Write and publish an opinion/review article about Horizen"
**Scope of work:**
- Write an article about Horizen
- Should include what Horizen is, why you like Horizen, and mention that sidechains are coming to mainchain soon.
- Must publish on blog or news platform of your choice (Medium, personal blog, etc)

**Scheduled Milestones:**

This task may only be completed by an **official Horizen Ambassador**. This task is available to the first 3 ambassadors t

[2021-04-23 05:02] PowerVANO opened #12 "Ambassador Task: Translate Horizen Website Content - Korean"
**Scope of work:**

This task is to translate the following pages in Korean
- https://www.horizen.io/
- https://www.horizen.io/sidechain/
- https://www.horizen.io/node-hosting/

**Schedule Milestones:**

This task may only be completed by an **official Horizen Ambassador**. The task must be completed within two weeks of accepting it. The person who accepts this task must provide a status update on

[2021-04-23 05:10] PowerVANO opened #13 "Ambassador Task: Translate the Zendoo Whitepaper - Korean"
**Scope of work:**

- Translate the full Zendoo whitepaper in Korean: https://www.horizen.io/assets/files/Horizen-Sidechain-Zendoo-A_zk-SNARK-Verifiable-Cross-Chain-Transfer-Protocol.pdf

**Schedule Milestones:**

This task may only be completed by an **official Horizen Ambassador**. The task must be completed within 4 weeks of accepting it. The person who accepts this task must provide a status u

[2021-04-23 05:15] PowerVANO opened #14 "Ambassador Task: Translate Horizen Website Content - Russian"
**Scope of work:**

This task is to translate the following pages in Russian
- https://www.horizen.io/
- https://www.horizen.io/sidechain/
- https://www.horizen.io/node-hosting/

Original English texts for translation:
Homepage: https://docs.google.com/document/d/116XuA8qVC6uOAKwGSEc4uCgieJKMd1neQyjVmGXO3pw/edit?usp=sharing
Sidechain Page: https://docs.google.com/document/d/1CdFDrqHeJhod68TkWJPW4c

[2021-04-23 05:17] PowerVANO opened #15 "Ambassador Task: Translate the Zendoo Whitepaper - Russian"
**Scope of work:**

- Translate the full Zendoo whitepaper in Russian: https://www.horizen.io/assets/files/Horizen-Sidechain-Zendoo-A_zk-SNARK-Verifiable-Cross-Chain-Transfer-Protocol.pdf

**Schedule Milestones:**

This task may only be completed by an **official Horizen Ambassador**. The task must be completed within 4 weeks of accepting it. The person who accepts this task must provide a status

[2021-04-23 14:47] Horusfeathers commented on #12
This task has been accepted and nearly completed by Jonghun.

[2021-04-25 23:20] rubruno commented on #15
@PowerVANO Hi! Ok, it's very simple, i'm ready!

[2021-04-26 15:56] PowerVANO commented on #15
Hey @rubruno
We need to onboard you as an ambassador first.
Please contact our Communications Manager, Erica Hamilton on Discord: Horusfeathers#0323 or at email: erica [at] horizen.io.

[2021-04-30 03:31] Emad980 commented on #15
I am ready

[Horizen-Sidechain-Zendoo-A_zk-SNARK-Verifiable-Cross-Chain-Transfer-Protocol (1).pdf](https://github.com/HorizenOfficial/HDE-Proposals/files/6402835/Horizen-Sidechain-Zendoo-A_zk-SNARK-Verifiable-Cross-Chain-Transfer-Protocol.1.pdf)

[2021-04-30 03:32] Emad980 commented on #15
It's simple

[2021-04-30 03:47] PowerVANO commented on #15
Hi @Emad980

Please apply to become an [ambassador](https://www.horizen.io/ambassadors/) first: https://forms.gle/XdpNYXKgsAhdnP8m7

The task is currently restricted to Ambassadors only.

[2021-04-30 09:54] Esmeralda1800 commented on #11
I'm interested

[2021-05-01 18:05] myphuong776 commented on #15
ok

[2021-05-01 18:06] myphuong776 commented on #9
ok

[2021-05-02 14:29] arfasobiz commented on #15
@PowerVANO can I start ??

[2021-05-02 14:45] Horusfeathers commented on #15
Hi @arfasobiz. This task is only available to Horizen ambassadors at this time.

[2021-05-02 15:22] arfasobiz commented on #15
I registered.
whether anyone from my area has registered.
?
I only saw that there were only 4 people who registered

[2021-05-02 15:56] arfasobiz commented on #15
I prefer to beg for work because I really need it.
a little money to eat and go to school for my children. I am struggling
economically because I lost my job in the factory
and my children need school.
I only need no more than 500 dollars or a few zen coins.
thank you for the response
ZEN: znhU1D8mqmEUEQ6LmaSAn4cPMEPSbrodfDL
stZEN: 0x74CcF12E7aC5ebA5231AfB16B5a620947DC9308f

Pada tanggal Min, 2 Me

[2021-05-06 11:51] PowerVANO opened #16 "*** Test Issue N1 *** used for testing HDE"
*** Test Issue N3 *** used for testing HDE

[2021-05-06 11:52] PowerVANO opened #17 "*** Test Issue N2 *** used for testing HDE"
*** Test Issue N2 *** used for testing HDE

[2021-05-06 11:52] #16 closed

[2021-05-06 11:52] #17 closed

[2021-05-06 18:10] PowerVANO opened #18 "Test Issue N3 *** used for testing HDE"
Test Issue N3 *** used for testing HDE

[2021-05-06 18:11] #18 closed

[2021-05-12 17:53] dimpz18 commented on #15
@PowerVANO  Can i apply as ambassador to start the task and how to be ambassador?

[2021-05-13 08:36] PowerVANO commented on #15
Of course @dimpz18! Please visit Ambassador program page to review it https://www.horizen.io/ambassadors/ and [apply here](https://forms.gle/XdpNYXKgsAhdnP8m7).

Once approved, you can start working on the task.

[2021-05-13 10:10] dimpz18 commented on #15
I already applied. Hope you can choose me to become one of your ambassador. Thank you..

Sent from Yahoo Mail on Android

  On Thu, May 13, 2021 at 4:36 PM, ***@***.***> wrote:

@PowerVANO Can i apply as ambassador to start the task and how to be ambassador?

Of course @dimpz18! Please visit Ambassador program page to review it https://www.horizen.io/ambassadors/ and apply here.

Once approved, yo

[2021-05-13 20:40] PowerVANO opened #19 "*** Test Issue 1 *** - Testing New HDE Build"
*** Test Issue 1 *** - Testing New HDE Build

[2021-05-13 20:41] PowerVANO opened #20 "*** Test Issue 2 *** - Testing New HDE Build"
*** Test Issue 2 *** - Testing New HDE Build

[2021-05-13 20:41] #20 closed

[2021-05-14 08:57] #19 closed

[2021-05-14 16:38] Andrzej0xa0 commented on #10
I have completed the task :-)

here is the link to the video https://youtu.be/TLGSkWt4U-s

[2021-05-14 18:59] Horusfeathers commented on #10
The task meets all requirements and has been approved by marketing @PowerVANO

[2021-05-17 13:20] PowerVANO commented on #10
Thank you for your work @Andrzej0xa0 and for your approval @Horusfeathers! Issue is closed. Submitting for the payment processing.

[2021-05-17 13:20] #10 closed

[2021-05-17 18:05] PowerVANO opened #21 "Ambassador Task: Create a video about stZEN - English"
**Goals:**

- Create a short video highlighting what stZEN is and the uses of our new ERC-20 token
- Share the video on your preferred platform
- This video must be in English, subtitles in other languages are accepted

**Scope of work:**

You must create an in-depth video (no less than 5 minutes) about stZEN for beginners. This video must be in English.

The video can be in any of the following s

[2021-05-18 01:36] allenpark-tudy commented on #11
I write in Korean, is it ok?

[2021-05-18 04:49] PowerVANO commented on #11
@Horusfeathers Could you please help us here?

[2021-05-18 06:10] allenpark-tudy commented on #11
This is my blog and community.
Please checks here
Naver blog: https://blog.naver.com/walnut_no1
Steemit: https://steemit.com/@honeywalnut/posts

[2021-05-18 11:31] nomiikt commented on #21
Hey I am interested in this project can I take this task?

[2021-05-19 14:53] PowerVANO commented on #21
Hi @nomiikt, sure!
But you first have to apply and get approved as a Horizen Ambassador: https://www.horizen.io/ambassadors/

[2021-05-26 16:59] Albhion commented on #14
Hey! Can I take this task? Let me Know and Can I use some translator apps ?

[2021-05-27 06:18] PowerVANO commented on #14
Hey @Albhion

You can take the task but before that, please visit Ambassador program page to review it https://www.horizen.io/ambassadors/ and [apply here](https://forms.gle/XdpNYXKgsAhdnP8m7). Task is for Ambassadors only.

Once approved, you can start working on the task.

Also, using translator apps is discouraged as the overall quality of the work is not great when using such apps. Your work i

[2021-06-18 22:04] teysonGold commented on #9
Puedo asumir esa tarea, pero en español o que idioma lo necesitan?

[2021-06-18 22:29] teysonGold commented on #9
hola, cuanto tiempo dura la aprobación para ser embajador oficial?

[2021-06-21 06:52] PowerVANO commented on #9
@horusfeathers Can you please help here?

[2021-06-21 16:01] Horusfeathers commented on #9
Todas las solicitudes han sido procesadas. Por favor revise su correo electrónico.

[2021-06-30 21:44] heyJonBray commented on #11
English writer here, I would like to begin this bounty. I just sent my application through to the Ambassador Program (thought I had before but am not sure).

I will post my first draft of the article on July 5th, should my Ambassadorship go through then I should have it complete shortly afterwards.

[2021-07-01 05:49] PowerVANO commented on #11
Hey @heyJonBray

Great to hear that. Please head over here and click Apply button (scroll down a bit) https://www.horizen.io/ambassadors/ to apply for the Ambassador program.

[2021-07-01 15:59] Horusfeathers commented on #11
@heyJonBray, welcome to the Ambassador program. You may now begin completing this task. Upon completion of your draft, please contact me via email at erica@zensystem.io to review.

[2021-07-02 01:30] bilall7 commented on #13
CAN I TAKE THIS TASK

[2021-07-02 01:39] bilall7 commented on #13
CAN I TAKE THIS TASK

[2021-07-02 01:40] bilall7 commented on #11
how about arabic writer !!!!

[2021-07-02 02:27] Horusfeathers commented on #11
This task is open to all languages as long as an English translation is also provided. However, you must be an approved Horizen ambassador to complete this task.

You can apply to the program at https://www.horizen.io/ambassadors/

[2021-07-05 04:20] Zeus-5 commented on #13
Can i please do this task?

[2021-07-13 21:10] heyJonBray commented on #11
Glad to be here! I've begun compiling my notes for an outline, I will post a draft in the next two days.

@PowerVANO is there a certain "read time" we're looking for for the article, or just enough to thoroughly explain the benefits of Horizen and the use cases I see it and sidechains filling without fluff?

[2021-07-14 10:12] PowerVANO commented on #11
@Horusfeathers ^^

[2021-07-14 10:13] PowerVANO commented on #13
@bilall7 @Zeus-5 yes, but you need to first apply and get approved for our Ambassadors program: https://www.horizen.io/ambassadors/

[2021-07-14 11:11] bilall7 commented on #13
I already send app

Le mer. 14 juil. 2021 à 11:13, PowerVANO ***@***.***> a
écrit :

[2021-07-14 15:37] pvmihalache commented on #11
Published my review!
https://www.publish0x.com/mind-puzzle/the-zenvangelist-the-journey-begins-xlzjmkv?a=pmbk1p5ezJ

[2021-07-14 15:44] Horusfeathers commented on #11
Article approved! Be sure to complete the submission form to claim your bounty. https://hde.horizen.io/account/claim-bounty

[2021-07-14 15:46] Horusfeathers commented on #11
Lol! That makes it easy. There is no desired read time, it's purely up to the ambassador about what they want to write about in their opinion piece as long as it's Horizen focused.

[2021-07-14 20:20] HaulMAD commented on #21
@PowerVANO I applied to be a ambassador at https://www.horizen.io/ambassadors/ how long will it take to get a update on the application?

[2021-07-14 20:35] HaulMAD commented on #9
@PowerVANO would appreciate the opportunity to take the task

[2021-07-14 20:35] HaulMAD commented on #21
I think I’m in I would like to take the task

[2021-07-15 02:55] Horusfeathers commented on #9
Please apply to the Horizen Ambassador Program to potentially become eligible for this task.

https://www.horizen.io/ambassadors/

[2021-07-15 06:43] PowerVANO commented on #21
@HaulMAD The review process typically takes around 1-2 days.

[2021-07-22 05:10] luisantoniocrag commented on #11
Hey @PowerVANO @Horusfeathers Can I still take this task?

[2021-07-22 13:05] PowerVANO commented on #11
@luisantoniocrag Are you a member of our Ambassador program? If not, please apply here: https://www.horizen.io/ambassadors/

I think @Horusfeathers still has open positions for this task.

[2021-07-22 13:08] luisantoniocrag commented on #11
- [x]   Yeah. Now I'm a ZENVANGELIST!

[2021-07-22 15:12] PowerVANO commented on #11
Great! Then just wait for Erica's confirmation that this task is till available and you can start working on it.

[2021-07-22 16:32] Horusfeathers commented on #11
@PowerVANO - @luisantoniocrag is a Zenvangelist and is eligible for this task.

[2021-07-23 17:43] luisantoniocrag commented on #11
Excellent, I'm working on.

[2021-07-25 14:49] letakkan commented on #11
i want to write indonesian language

[2021-07-26 04:56] PowerVANO commented on #11
Hi @letakkan. Let's wait for Erica's confirmation. In the meantime, please apply to the ambassadors' program.
@Horusfeathers

[2021-07-26 16:23] Horusfeathers commented on #11
@letakkan you must be an ambassador to be eligible for this task. However, Indonesian would be acceptable as long as English translations are available.

[2021-08-08 01:19] Usama887 commented on #11
Let Me know
If I write in any language where I'll post?
How I will send you message that k write this?

[2021-08-09 14:58] Horusfeathers commented on #11
You must be a Horizen ambassador in order to be eligible for this task.

[2021-08-11 13:09] PowerVANO opened #22 "Ambassador Task: Write a technical article or blog about building on the Horizen ecosystem"
**Goals:**

- Create an article or blog of any length describing what you would like to build on Horizen or describing how to build on the Horizen ecosystem.
- Share the article on your preferred platform.

**Scope of work:**

This article can be any length but must cover at least one thing you would like to build on the Horizen ecosystem.

**Schedule Milestones:**

This task may only be completed

[2021-08-11 13:11] PowerVANO opened #23 "Ambassador Task: Create a video about use cases that can be built on Zendoo"
**Goals:**

- Create a video highlighting what use cases can benefit from building on Zendoo and why Horizen is better than competing platforms
- Share the video on your preferred platform

**Scope of work:**

The video can be in any of the following styles:

- Platform review style
- Explainer style

The video must include the following content:

- What is Zendoo
- At least 1 use case that could

[2021-08-11 13:12] PowerVANO opened #24 "Ambassador Task: Write and publish an article about Horizen"
**Scope of work:**

- Write an article about Horizen
- Should include what Horizen is, why you like Horizen, and mention that sidechains are coming to mainchain soon.
- Must publish on blog or news platform of your choice (Medium, personal blog, etc.)

**Scheduled Milestones:**

This task may only be completed by an official Horizen Ambassador. This task is available to the first 3 ambassadors tha

[2021-08-14 13:27] luisantoniocrag commented on #11
Hey, @Horusfeathers. There is my article published.  =)

https://medium.com/blockchainify-journey/the-horizen-project-b560a3814bc4

[2021-08-15 23:44] tiago11h commented on #12
acepto traducir todo

[2021-08-16 00:33] Horusfeathers commented on #12
This task can only be completed by a Horizen ambassador. You can apply for the program at https://www.horizen.io/ambassadors/

[2021-08-17 13:41] luisantoniocrag commented on #22
Hey @PowerVANO, could I take this task? please.

[2021-08-17 15:40] PowerVANO commented on #22
Hey @luisantoniocrag I think yes, but tagging @Horusfeathers for confirmation to check if anyone has taken it or not.

[2021-08-17 15:42] Horusfeathers commented on #22
This task is still available and @luisantoniocrag is eligible.

[2021-08-17 16:06] Horusfeathers commented on #24
This task has been completed by luisantoniocrag. The bounty claim form should be submitted soon.

[2021-08-17 16:14] Horusfeathers commented on #13
This task has been taken by @nobleminsu, who will submit the documentation within the required timeframe.

[2021-08-17 16:15] Horusfeathers commented on #12
This task has been picked up by @nobleminsu.

[2021-08-18 12:40] nobleminsu commented on #12
@Horusfeathers Should I register for the Horizen ambassador program?

[2021-08-20 06:36] luisantoniocrag commented on #24
Submitted! Thank you.

[2021-08-24 15:43] PowerVANO commented on #24
Payment is being processed.

[2021-08-30 03:53] tiago11h opened #25 "complete"
[Horizen-Sidechain-Zendoo-A_zk-SNARK-Verifiable-Cross-Chain-Transfer-Protocol.en.ko.pdf](https://github.com/HorizenOfficial/HDE-Proposals/files/7074013/Horizen-Sidechain-Zendoo-A_zk-SNARK-Verifiable-Cross-Chain-Transfer-Protocol.en.ko.pdf)

[2021-08-30 03:58] tiago11h commented on #13
Ya lo traducí

[2021-08-30 04:00] tiago11h opened #26 "TRADUCIDO A COREANO"
[Horizen-Sidechain-Zendoo-A_zk-SNARK-Verifiable-Cross-Chain-Transfer-Protocol.en.ko.pdf](https://github.com/HorizenOfficial/HDE-Proposals/files/7074013/Horizen-Sidechain-Zendoo-A_zk-SNARK-Verifiable-Cross-Chain-Transfer-Protocol.en.ko.pdf)

[2021-08-30 18:55] Horusfeathers commented on #13
You must be part of the ambassador program and approved prior to accepting this task to be eligible. @nobleminsu is currently approved and working on this task.

[2021-09-04 00:37] nobleminsu commented on #12
Hello, I've finished the home page translation. Please check.

[2021-09-06 10:56] PowerVANO commented on #12
@Horusfeathers Can you please confirm the completion of the task?

[2021-09-06 15:36] Horusfeathers commented on #12
@PowerVANO - Task is pending review.

[2021-09-08 16:16] Horusfeathers commented on #12
@PowerVANO the translations have been approved. @nobleminsu may complete the bounty claim form.

[2021-09-09 12:06] PowerVANO commented on #12
@nobleminsu Please log in your HDE profile and submit the bounty claim form (button towards the end of the page): https://hde.horizen.io/account

[2021-09-10 11:48] cryptoclarity commented on #23
just applied to be an ambassador. Will be great to do a video on this.

[2021-09-12 01:18] Sylver-blade commented on #24
Article done in french since so many years ... Don't know how it work to submit ...

https://fredericstlaurent.com/2021/01/10/417/

[2021-09-12 17:50] Sylver-blade commented on #24
I think I'm too late anyway I'm not an ambassador just made my demand

[2021-09-14 05:18] PowerVANO commented on #24
@Sylver-blade Thanks! Please apply for Ambassadors' program here: https://www.horizen.io/ambassadors/ and @Horusfeathers will help with the article review and ambassador application.

[2021-09-15 10:03] cmb11011995 commented on #13
Please approve me for ambassador program and assign this task as well as task translating to Russian: I can finish the white paper transalations in 2 days time.

[2021-09-15 16:16] Horusfeathers commented on #13
@cmb11011995 - The Korean translation task has already been accepted by another member. Please apply to the ambassador program to be considered for the Russian translation tasks.

[2021-09-15 22:48] cmb11011995 commented on #13
I have applied. Many times. 😂

[2021-09-16 01:11] cmb11011995 commented on #15
Applied for ambassador. How long should it take to get a response?

[2021-09-16 12:29] cmb11011995 commented on #13
I have . Several times in fact… I have never heard anything back. At this point I’m just going to start translating it. If I can’t be approved to be an ambassador I’ll just pitch it. If you’re able to find my application and approve it please let me know.

Sent from my iPhone

[2021-09-28 06:04] GuiltyWaiver commented on #21
I would LOVE to do a video about this. I run a channel on YouTube myself and a solid instagram with quite a lot of followers.  I'm new here and would love to be in board with this

[2021-09-29 15:33] PowerVANO commented on #21
Please reply for our Ambassador program first: https://www.horizen.io/ambassadors

[2021-09-29 15:34] #25 closed

[2021-09-29 15:34] #26 closed

[2021-09-29 15:38] GuiltyWaiver commented on #21
Did I got denied lol

On Wed, Sep 29, 2021, 11:34 AM PowerVANO ***@***.***> wrote:

[2021-09-29 15:38] GuiltyWaiver commented on #21
I have a decent follower base between instagram twitch and YouTube too like
close to 700

On Wed, Sep 29, 2021, 11:38 AM GuiltyWaiver ***@***.***> wrote:

[2021-09-29 16:03] PowerVANO commented on #12
Bounty has been paid. Issue closed.

[2021-09-29 16:03] #12 closed

[2021-10-13 15:47] Horusfeathers commented on #24
Submission approved! Thanks.

[2021-10-20 15:24] PowerVANO commented on #24
Payment is being processed.

[2021-10-20 17:20] PowerVANO opened #27 "Ambassador Task: Write a walkthrough article or blog about how to create a blockchain on Zendoo testnet"
**Goals:**

- Create an article or blog of any length walking through the process of building on Zendoo testnet
- Share the article on your preferred platform

**Scope of work:**

- This article can be any length but must cover:
- How to get test ZEN
- Where to download the SDK
- Where to find documentation and resources
- The steps required to build a blockchain
- Technical requirements for build

[2021-10-20 17:22] PowerVANO opened #28 "Ambassador Task: Create a video tutorial on how to build a sidechain on Zendoo"
**Goals:**

- Create a video highlighting what use cases can benefit from building on Zendoo and why Horizen is better than competing platforms
- Share the video on your preferred platform

**Scope of work:**

- The video must include the following content:
- How to get test ZEN
- Where to download the SDK
- Where to find documentation and resources
- The steps required to build a blockchain
- Tec

[2021-11-01 05:58] JdevStudios commented on #28
I would like to get this issue/bounty assigned

[2021-11-01 07:27] PowerVANO commented on #28
@JdevStudios If you are already a Horizen Ambassador, please wait for @horusfeathers confirmation and you can go forward with it.
Otherwise, please apply to our Ambassador program first: https://www.horizen.io/ambassadors/

[2021-11-01 15:27] Horusfeathers commented on #28
@JdevStudios - Because you are not an ambassador at this time, please contact me via email at erica@horizen.io and we can review your credentials to complete this task. Thanks!

[2021-11-03 12:05] PowerVANO commented on #24
This has been paid already.

[2021-11-03 12:07] PowerVANO commented on #11
You can apply for our Ambassadors' program here: https://www.horizen.io/ambassadors/

[2021-11-05 16:16] #21 closed

[2021-11-16 16:33] PowerVANO opened #29 "Ambassador Task: Translate the Darlin Whitepaper - French"
**Scope of work:**

- Translate the full the Darlin whitepaper into French: https://www.horizen.io/assets/files/Darlin-A-Proof-Carrying-Data-Scheme-Based-on-Marlin-Whitepaper.pdf

**Schedule Milestones:**

This task may only be completed by an official Horizen Ambassador. The task must be completed within 4 weeks of accepting it. The person who accepts this task must provide a status update once a

[2021-11-16 16:35] PowerVANO opened #30 "Ambassador Task: Translate Horizen Website Content - French"
**Scope of work:**

This task is to translate the following pages into French

- https://www.horizen.io/
- https://www.horizen.io/sidechain/
- https://www.horizen.io/node-hosting/

**Schedule Milestones:**

This task may only be completed by an official Horizen Ambassador. The task must be completed within two weeks of accepting it. The person who accepts this task must provide a status update onc

[2021-11-19 15:47] Luisondel76 opened #31 "Ganar es estar en horizen"
Escribo en español para que tambien una comunidad hispana parlante se anime a incrementar y apoyar este proyecto futurista. Estar aca en esta plataforma es una manera muy interesante de mirar con luz larga al fpresente-futuro y asegurarlo de forma consistente. Como dijera un gran cientifico de nuestro tiempo y visionario, (intenta hacer algo diferente si quieres resultados diferentes) y de eso se

[2021-11-21 12:32] EmboyG commented on #29
[Darlin-A-Proof-Carrying-Data-Scheme-Based-on-Marlin-Whitepaper.it.fr.pdf](https://github.com/HorizenOfficial/HDE-Proposals/files/7576244/Darlin-A-Proof-Carrying-Data-Scheme-Based-on-Marlin-Whitepaper.it.fr.pdf)

[2021-11-21 12:40] EmboyG commented on #29
Done whitepaper translate please send me an email how to claim the paid task at iamnamba4@gmail.com

[2021-11-21 12:49] EmboyG commented on #30
[Darlin-A-Proof-Carrying-Data-Scheme-Based-on-Marlin-Whitepaper.it.fr.pdf](https://github.com/HorizenOfficial/HDE-Proposals/files/7576271/Darlin-A-Proof-Carrying-Data-Scheme-Based-on-Marlin-Whitepaper.it.fr.pdf)

Please see details.  Info about claiming my paid task

[2021-11-23 23:59] TechnoHorizen commented on #30
Ill take some pages in the Horizen.io website

[2021-11-24 14:23] #31 closed

[2021-11-24 15:50] #13 closed

[2021-11-29 16:49] sader59 commented on #11
با سلام
ارز horizen بسیار عالی عالی

[2021-11-29 16:50] sader59 commented on #11
با سلام
من به زبان pershian می نویسم
ارز horizen بسیار عالی عالی

[2021-11-29 16:51] sader59 opened #32 "horizen"
با سلام
من به زبان pershian  می نویسم
بسیار بسیار بسیار عالی
 و آینده بسیار خوبی داره

[2021-11-29 17:00] sader59 opened #33 "horizen"
"آنچه واقعاً مرا به این پروژه جذب کرد، تلاش بی پایان آنها برای تغییر جهان از طریق استفاده از فناوری بلاک چین به عنوان پروتکل اصلی آن و ماموریت جسورانه آنها در حفظ حریم خصوصی با استفاده از پروتکل zk-SNARKs است. Horizen یکی از معدود پروژه های بلاک چین است که در واقع نشان دهنده تئوری هایی که در دوره های بلاک چین در مورد چگونگی اجرای یک پروژه غیرمتمرکز خوب یاد گرفته ام. در آگوست 2018، تصمیم گرفتم حامی

[2021-11-29 17:01] sader59 opened #34 "horizen"
"توانایی شنیده شدن کوچکترین صدا چیزی است که مرا به عضوی فعال در جامعه هوریزن جذب کرد. تیم و جامعه بسیار در دسترس هستند و همیشه نظرات دیگران را تأیید می کنند. جامعه این قدرت را دارد که مالکیت هوریزن را در دست بگیرد و متوجه شود که این پروژه به همان اندازه که متعلق به تیم است، متعلق به آنهاست. توانایی دریافت پاداش در ZEN برای مشارکت کمک می کند تا مشارکت جامعه پایدارتر شود و مشارکت بیشتر را تقویت کند.

[2021-11-30 03:28] lazzari09 commented on #27
Can I begin this task and submit?

[2021-12-02 22:55] Horlah1 commented on #29
Can I be involved in this project

[2021-12-06 16:46] SiongokBrian commented on #27
Is this task still available? I'm a blogger.

[2021-12-08 15:33] #34 closed

[2021-12-08 15:33] #33 closed

[2021-12-08 15:33] #32 closed

[2021-12-08 15:36] PowerVANO commented on #27
Hi @lazzari09 & @SiongokBrian

You should apply for our Ambassadors' program first: https://www.horizen.io/ambassadors/

[2021-12-08 15:36] PowerVANO commented on #29
Hi @EmboyG and @Horlah1

You should apply for our Ambassadors' program first: https://www.horizen.io/ambassadors/

[2021-12-22 14:54] PowerVANO opened #35 "Ambassador Task: Translate Horizen Website Content - Italian"
**Scope of work:**

This task is to translate the following pages into Italian

- https://www.horizen.io/
- https://www.horizen.io/sidechain/
- https://www.horizen.io/node-hosting/

**Schedule Milestones:**

This task may only be completed by an official Horizen Ambassador. The task must be completed within two weeks of accepting it. The person who accepts this task must provide a status update on

[2021-12-22 14:55] PowerVANO opened #36 "Ambassador Task: Translate the Zendoo Whitepaper - Italian"
**Scope of work:**

- Translate the full Zendoo whitepaper in Italian: https://www.horizen.io/assets/files/Horizen-Sidechain-Zendoo-A_zk-SNARK-Verifiable-Cross-Chain-Transfer-Protocol.pdf

**Schedule Milestones:**

This task may only be completed by an official Horizen Ambassador. The task must be completed within 4 weeks of accepting it. The person who accepts this task must provide a status upda

[2021-12-22 14:57] PowerVANO opened #37 "Ambassador Task: Translate Horizen Website Content - German"
**Scope of work:**

This task is to translate the following pages into German

- https://www.horizen.io/
- https://www.horizen.io/sidechain/
- https://www.horizen.io/node-hosting/

**Schedule Milestones:**

This task may only be completed by an official Horizen Ambassador. The task must be completed within two weeks of accepting it. The person who accepts this task must provide a status update onc

[2021-12-22 14:58] PowerVANO opened #38 "Ambassador Task: Translate the Zendoo Whitepaper - German"
**Scope of work:**

- Translate the full Zendoo whitepaper in Italian: https://www.horizen.io/assets/files/Horizen-Sidechain-Zendoo-A_zk-SNARK-Verifiable-Cross-Chain-Transfer-Protocol.pdf

**Schedule Milestones:**

This task may only be completed by an official Horizen Ambassador. The task must be completed within 4 weeks of accepting it. The person who accepts this task must provide a status upda

[2021-12-22 14:59] PowerVANO opened #39 "Ambassador Task: Translate the Horizen Whitepaper - German"
**Scope of work:**

- Translate the full Zendoo whitepaper in German: https://www.horizen.io/assets/files/Horizen-Sidechains-Decoupled-Consensus-Between-Chains.pdf

**Schedule Milestones:**

This task may only be completed by an official Horizen Ambassador. The task must be completed within 4 weeks of accepting it. The person who accepts this task must provide a status update once a week. If the p

[2021-12-22 15:00] PowerVANO opened #40 "Ambassador Task: Translate Horizen Website Content - Spanish"
**Scope of work:**

This task is to translate the following pages into Spanish

- https://www.horizen.io/
- https://www.horizen.io/sidechain/
- https://www.horizen.io/node-hosting/

**Schedule Milestones:**

This task may only be completed by an official Horizen Ambassador. The task must be completed within two weeks of accepting it. The person who accepts this task must provide a status update on

[2021-12-22 15:02] PowerVANO opened #41 "Ambassador Task: Translate the Zendoo Whitepaper - Spanish"
**Scope of work:**

- Translate the full Zendoo whitepaper in Spanish: https://www.horizen.io/assets/files/Horizen-Sidechain-Zendoo-A_zk-SNARK-Verifiable-Cross-Chain-Transfer-Protocol.pdf

**Schedule Milestones:**

This task may only be completed by an official Horizen Ambassador. The task must be completed within 4 weeks of accepting it. The person who accepts this task must provide a status upda

[2021-12-22 15:03] PowerVANO opened #42 "Ambassador Task: Translate the Horizen Whitepaper - Spanish"
**Scope of work:**

- Translate the full Zendoo whitepaper in Spanish: https://www.horizen.io/assets/files/Horizen-Sidechains-Decoupled-Consensus-Between-Chains.pdf

**Schedule Milestones:**

This task may only be completed by an official Horizen Ambassador. The task must be completed within 4 weeks of accepting it. The person who accepts this task must provide a status update once a week. If the

[2021-12-22 15:04] PowerVANO opened #43 "Ambassador Task: Translate Horizen Website Content - Hindi"
**Scope of work:**

This task is to translate the following pages into Hindi

- https://www.horizen.io/
- https://www.horizen.io/sidechain/
- https://www.horizen.io/node-hosting/

**Schedule Milestones:**

This task may only be completed by an official Horizen Ambassador. The task must be completed within two weeks of accepting it. The person who accepts this task must provide a status update once

[2021-12-22 15:06] PowerVANO opened #44 "Ambassador Task: Translate the Zendoo Whitepaper - Hindi"
**Scope of work:**

- Translate the full Zendoo whitepaper in Italian: https://www.horizen.io/assets/files/Horizen-Sidechain-Zendoo-A_zk-SNARK-Verifiable-Cross-Chain-Transfer-Protocol.pdf

**Schedule Milestones:**

This task may only be completed by an official Horizen Ambassador. The task must be completed within 4 weeks of accepting it. The person who accepts this task must provide a status upda

[2021-12-22 15:08] PowerVANO opened #45 "Ambassador Task: Translate the Horizen Whitepaper - Hindi"
**Scope of work:**

- Translate the full Zendoo whitepaper in Hindi: https://www.horizen.io/assets/files/Horizen-Sidechains-Decoupled-Consensus-Between-Chains.pdf

**Schedule Milestones:**

This task may only be completed by an official Horizen Ambassador. The task must be completed within 4 weeks of accepting it. The person who accepts this task must provide a status update once a week. If the pe

[2021-12-22 15:44] PowerVANO opened #46 "Ambassador Task: Translate the Horizen Whitepaper - Italian"
**Scope of work:**

- Translate the full Zendoo whitepaper in Italian: https://www.horizen.io/assets/files/Horizen-Sidechains-Decoupled-Consensus-Between-Chains.pdf

**Schedule Milestones:**

This task may only be completed by an official Horizen Ambassador. The task must be completed within 4 weeks of accepting it. The person who accepts this task must provide a status update once a week. If the

[2021-12-25 07:57] oMurmeltiero commented on #39
@PowerVANO Hi can i translate it in german?

[2021-12-25 09:24] oMurmeltiero commented on #39
[Horizen-Sidechains-Decoupled-Consensus-Between-Chains.pdf](https://github.com/HorizenOfficial/HDE-Proposals/files/7775672/Horizen-Sidechains-Decoupled-Consensus-Between-Chains.pdf)

Start: Page 1 translated.

[2021-12-26 06:07] soham117 commented on #44
Can I get this task? I know Hindi and English very well

[2021-12-26 06:09] soham117 commented on #43
Kindly assign this task to me, sir. I know Hindi and English

[2021-12-26 06:12] soham117 commented on #45
Sir , Can you please assign this task to me ?

[2021-12-29 15:39] luisantoniocrag commented on #42
Hi @PowerVANO,

Can I take this task? I disconnected a bit from the crypto world hehe, but I'm getting back to it.

I know I have another pending task, but for now, I know I can handle this since my mother tongue is Spanish and I have translated many research papers and whitepapers.

[2021-12-30 08:28] Dutch71086 commented on #46
I'll do this task

[2021-12-31 10:03] Dannyednut commented on #46
I'm in for this task

[2022-01-01 20:56] Wajahat8 commented on #45
Sir ,
Can I join  for this task  ?

[2022-01-02 15:55] CIELO1705 opened #47 "quiero parcitipar de esta tarea"
hola quiero participar de esta tarea , por favor si puden darme la oportunidad les agradeceria, gracias

[2022-01-02 16:00] CIELO1705 commented on #41
hola estoy dispuesta a trabajer en la traducion del documento. estoy  atenta a su respuesta gracias

[2022-01-04 16:41] Thanaphon1998 commented on #45
Sir , Can you please assign this task to me ?

[2022-01-04 23:34] CIELO1705 commented on #42
hola estoy interesada en trabajar con uds traduciendo documentos. gracias le agradeceria que me pudieran tomar encuenta

[2022-01-04 23:42] CIELO1705 commented on #42
hola mi correo es nadezkharomero@gmail.com

[2022-01-04 23:48] CIELO1705 commented on #40
Hi PowrVANO, I am interested in translating in Spanish, how do I get them to take me into account. since I am not an ambassador.

hola PowrVANO, Estoy interesada para traducir en español, como hago para que me tomen encuenta. ya que no soy embajadora.

[2022-01-05 14:52] #47 closed

[2022-01-05 14:52] PowerVANO commented on #47
HI @CIELO1705 Please apply for the Ambassadors' program first: https://www.horizen.io/ambassadors/

[2022-01-05 14:53] PowerVANO commented on #46
Hi @Dannyednut @Dutch71086
Are you Horizen Ambassadors already? If not, please apply first and wait for the approval before starting this task: https://www.horizen.io/ambassadors/

[2022-01-05 14:54] PowerVANO commented on #45
Hi @soham117 @Wajahat8 @Thanaphon1998
Are you Horizen Ambassadors already? If not, please apply and wait for the approval before starting to do this task: https://www.horizen.io/ambassadors/

[2022-01-05 14:55] PowerVANO commented on #42
Hey @luisantoniocrag
I think you can! @horusfeathers Can you please confirm?

@CIELO1705 Please apply for the Horizen Ambassador program first before taking any tasks: https://www.horizen.io/ambassadors/

[2022-01-05 14:56] PowerVANO commented on #41
@CIELO1705 @sangambeh03
Please apply for and wait for the approval for the Ambassadors' program first: https://www.horizen.io/ambassadors/

[2022-01-05 14:56] soham117 commented on #45
@PowerVANO I know about the ambassador program. I haven't applied yet as I was a little busy. I'll fill the from soon ! Thank you

[2022-01-05 14:56] PowerVANO commented on #39
Hi @oMurmeltiero
Are you the Horizen Ambassador already? If not, please apply and wait for the approval before working on this task: https://www.horizen.io/ambassadors/

[2022-01-05 14:57] PowerVANO commented on #40
Hi @CIELO1705
Please apply for the Ambassador program here: https://www.horizen.io/ambassadors/

[2022-01-05 14:57] PowerVANO commented on #44
Hi @soham117
Yes, you can, but you have to be approved in our Horizen Ambassadors program first. Please apply here: https://www.horizen.io/ambassadors/

[2022-01-05 14:58] PowerVANO commented on #43
Hi @soham117
Please apply for our Ambassador program first: https://www.horizen.io/ambassadors/

[2022-01-05 14:58] PowerVANO commented on #30
Hi @EmboyG @TechnoHorizen
Are you Horizen Ambassadors already? If not, please apply here first: https://www.horizen.io/ambassadors/

[2022-01-07 17:21] Dav1dKillz opened #48 "Share"
Complete registration to claim coupon worth
https://reg.forexdana.trade/download/#/share?id=14225026&language=en

[2022-01-12 15:02] #48 closed

[2022-01-20 00:12] xgarreau commented on #22
Hi !

Would this article be eligible for this task ?
--> https://mescryptos.fr/une-application-de-sidechain-horizen-le-bridge/

Best regards,
Xavier

[2022-01-20 15:42] Horusfeathers commented on #22
Yes @xgarreau. This article is eligible. Please submit a bounty claim form.

[2022-01-20 16:57] xgarreau commented on #22
Thank you. I just claimed it with PR #49

Have a nice day.
Xavier

[2022-01-22 04:36] luisantoniocrag commented on #42
This is the doc that I am working the translation: https://docs.google.com/document/d/1dYjphP8YG4Ua0DZyzzLFkh5MYAq7q8wj0fJJ7bnYxw4/edit?usp=sharing

I will notify you when finished. I just need to do proofreading.

[2022-01-25 18:16] Horusfeathers commented on #42
That's correct. @luisantoniocrag is eligible.

[2022-01-25 23:28] pvmihalache commented on #9
My ZEN ELI5 will be ready soon

[2022-01-26 01:36] pvmihalache commented on #9
https://odysee.com/@MindPuzzles:9/ZEN:66

https://youtu.be/3ucq6kfQMAI

[2022-02-02 17:39] PowerVANO opened #50 "Scavenger Hunt #1 - zencashjs"
**Scope of work:**

The idea of this task is to learn and earn at the same time!

If you want to learn something and gain 0.02229 ZEN in the process + a bounty of $50 paid in ZEN, the multisignature address used in the zencashjs readme example currently holds a small balance (probably left over from someone testing): https://github.com/HorizenOfficial/zencashjs#example-usage-multi-sig

- Your task

[2022-02-03 17:33] PowerVANO commented on #50
It seems these types of tasks are popular - we already have a winner who submitted a bounty claim. I have asked him to share it publicly so that everything is transparent.

[2022-02-04 12:22] PowerVANO commented on #50
@thielsen disclosed his address and message here: https://github.com/HorizenOfficial/zencashjs/issues/76

Bounty claim submitted for the payment.

[2022-02-05 04:05] Mobylizer commented on #42
Is anyone working on this at the moment.  I'm fluent in Spanish. I lived in Mexico for good time and had to interact with the people and I learned it  within 6 months. I'm also quite proficient in English and I understand the phrasing in Spanish and often multiple ways of wording the same phrase, and the same for English to Spanish. If no one is working on this I would like to take a crack at it.

[2022-02-05 07:13] PowerVANO commented on #42
Hi @Mobylizer thanks for your wish to contribute but I think @luisantoniocrag is working on this.

@luisantoniocrag can you please update regarding the progress?

[2022-02-05 09:37] Mobylizer commented on #42
Darn, well thanks for letting me know. I'll try to check in regularly and
check out if there are any tasks available that I know I am able to
accomplish. I'd love to be of some use and help in some way in the future.
=) Have a great weekend!

Mobylizer

On Fri, Feb 4, 2022, 11:13 PM PowerVANO ***@***.***> wrote:

[2022-02-06 14:46] luisantoniocrag commented on #42
@PowerVANO I just need to do proofreading on the last 4 pages: https://docs.google.com/document/d/1dYjphP8YG4Ua0DZyzzLFkh5MYAq7q8wj0fJJ7bnYxw4/edit?usp=sharing

[2022-02-07 10:48] PowerVANO commented on #42
Thanks @luisantoniocrag!

And you are welcome @Mobylizer, we will be happy to see you again!

[2022-02-17 22:34] Philanthropist517 commented on #42
This is interesting

[2022-02-20 04:48] Undertakergabo commented on #42
Holaaa me gustaría tomar esa tarea los haría muchos gustos

[2022-02-20 04:50] Undertakergabo commented on #13
Puedo tomar está tarea

[2022-02-20 23:00] luisantoniocrag commented on #42
Hi @PowerVANO! Sorry for the delay.

I just completed the Spanish translation: https://docs.google.com/document/d/1dYjphP8YG4Ua0DZyzzLFkh5MYAq7q8wj0fJJ7bnYxw4/edit?usp=sharing

What are the next steps?

[2022-02-21 13:17] Undertakergabo commented on #42
No veo ni error en la traducción

[2022-02-21 13:57] Undertakergabo commented on #42
https://us.docs.wps.com/l/sAEnpbAK9p5ubAZrWkfarpxQ

[2022-02-21 14:39] Undertakergabo commented on #42
https://us.docs.wps.com/l/sAEnpbAK9p5ubAZrWkfarpxQ

[2022-02-24 21:39] Zeus-5 commented on #46
Hi, I believe i can help pull this off... All i ask is a chance

[2022-02-26 03:42] luisantoniocrag commented on #41
Hey @PowerVANO @Horusfeathers can I take this task?

[2022-03-01 14:40] Horusfeathers commented on #41
Yes you may!

[2022-03-03 15:42] PowerVANO commented on #50
@thielsen this has been paid.

[2022-03-03 15:42] #50 closed

[2022-03-03 15:43] PowerVANO commented on #42
@luisantoniocrag your work has been accepted by @Horusfeathers and the bounty has been paid.

[2022-03-03 15:43] #42 closed

[2022-03-08 16:43] Varshans2 commented on #41
i have done it already[]
[Horizen-Sidechain-Zendoo-A_zk-SNARK-Verifiable-Cross-Chain-Transfer-Protocol (1).pdf](https://github.com/HorizenOfficial/HDE-Proposals/files/8208058/Horizen-Sidechain-Zendoo-A_zk-SNARK-Verifiable-Cross-Chain-Transfer-Protocol.1.pdf)
(

[2022-03-08 16:57] Varshans2 commented on #40
boss I HAVE DID ALL THESE TRANSLATIONS

not accepted as a ambasadors

[2022-03-09 15:31] PowerVANO commented on #41
Hi @Varshans2
These tasks are limited to Horizen Ambassadors. Please apply for the program first.

[2022-03-17 01:32] MarioCr99 commented on #46
I will do the task

[2022-03-22 00:34] Jasondolino commented on #46
I will take this task

[2022-03-26 17:29] Dannyednut commented on #39
Hi I can translate in German

[2022-03-26 18:02] Dannyednut commented on #46
I accepted this task and im already working in it

[2022-03-30 15:16] PowerVANO commented on #39
@Dannyednut

Are you Horizen Ambassador already? If not, please apply first and wait for the approval before starting this task: https://www.horizen.io/ambassadors/

[2022-04-17 20:35] pvmihalache commented on #24
@PowerVANO can I write again if this is still open?

[2022-04-18 11:20] Horusfeathers commented on #24
Yes you can!

[2022-04-21 09:37] pvmihalache commented on #11
@PowerVANO see attached my article and tweet. Tomorrow will be published on two more blogs and will update the links. Thanks

ZENvangelist Journal - Apeing into the Horizen Ecosystem  🐵 🚀
https://www.publish0x.com/mind-puzzle/zenvangelist-journal-apeing-into-the-horizen-ecosystem-xwwepoy?a=pmbk1p5ezJ

https://twitter.com/Sadu0ne/status/1517072375644397568?t=ZMjbQvFZhdCYKD5sSThzVQ&s=19

[2022-04-21 17:24] PowerVANO commented on #11
@pvmihalache we have transferred ZEN.

[2022-04-26 17:24] Sam-Steel55 commented on #9
Hello, I would like to take on this task.

[2022-04-26 17:25] Sam-Steel55 commented on #9
I would like to take on this task.

[2022-04-26 17:41] Horusfeathers commented on #9
Sam Steel is approved to complete this task @PowerVANO

[2022-04-27 11:57] PowerVANO commented on #9
@Sam-Steel55 Please keep us posted about the task progress according to the task description.

[2022-05-05 17:36] PowerVANO opened #51 "Test Horizen’s TokenMint Platform and Cobalt Web Wallet on Testnet"
**Goals:**

Test Horizen’s new TokenMint Platform and Cobalt web wallet on Testnet and document steps/findings.

**Scope of work:**

- Download and install Sphere by Horizen Testnet as per [TokenMint blog post](https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet)
- Create a new wallet in Sphere by Horizen Testnet and get testnet ZEN from the [HEAP

[2022-05-06 03:44] psyraxaus commented on #51
I would like to participate in this task

[2022-05-06 04:43] PowerVANO commented on #51
@psyraxaus Yes, please, take it as soon as you can.

[2022-05-06 11:15] moudybk1 commented on #51
is it still on going?

[2022-05-06 11:59] infinitEnigma commented on #51
can I participate in this too?

[2022-05-06 13:40] toprakdere commented on #51
I would like to participate in this task

[2022-05-06 14:29] PowerVANO commented on #51
@moudybk1
@infinitEnigma
@toprakdere

Yes, you can participate. Please start doing it.

[2022-05-06 15:39] nimite commented on #51
ready to participate !

[2022-05-06 15:44] thethemit commented on #51
https://explorer-testnet.tokenmint.global/tx/0b31b0d98147307d771e4bc7cda449879ae3b0a9b47d4b27c9d14d4a95f0ad56

[2022-05-06 15:49] PowerVANO commented on #51
If you want to take the task, please, first - state that, and second - provide a document with all the links and feedback, not paste them here one by one.

[2022-05-06 15:53] thethemit commented on #51
sorry sir, because i ask on discord no get answer

[2022-05-06 16:16] iantheitguy commented on #51
Can i join in too

[2022-05-06 17:27] cryptochris123 commented on #51
Can I join the task?

[2022-05-06 17:33] iantheitguy commented on #51
Transfer 1 TZNY from Cobalt wallet to this address: crash the software cant access my wallet e259c170f497cb266021d91b7eca983bf5bb32e8125c1fe2a76ed277021592d2  feel like the app crash no sign of the TZNY was send . It say success but did not show tokens gone click back and. It just say send Pending.  app crash cant access the wallet address. How do i fix the problem reinstall?

[2022-05-06 17:39] iantheitguy commented on #51
[horizen test1.odt](https://github.com/HorizenOfficial/HDE-Proposals/files/8642508/horizen.test1.odt)

[2022-05-06 17:42] RyuYeonuk commented on #51
can i join in too.

[2022-05-06 18:19] eko733 commented on #51
fast send

[2022-05-06 18:24] GONYOUNG-HONG commented on #51
Is this how I should provide it?

1. https://explorer-testnet.horizen.io/tx/6bb3337548af8fb521720a049954789eb838eb23b7ef1cea770ed9482d9b4fa6
2. https://explorer-testnet.horizen.io/tx/86b11794074e2dcc8d40795baf88c9048f49cf03afb646636d769df7f430beb8
3. https://explorer-testnet.tokenmint.global/tx/6eceeb8695fb72b4956dfcd3e942a1641f40d5361380deffd7d664b4c4f6cefd
4. https://explorer-testnet.tokenmint.g

[2022-05-06 18:44] thatoneguy55 commented on #51
Im participating

[2022-05-06 18:47] Tatijanka commented on #51
https://explorer-testnet.tokenmint.global/address/e18be1760436224d7ec44193df558d27d48490ad918af23daaad6602cd790c74

[2022-05-06 18:55] Tatijanka commented on #51
Did I complete all the tasks? Of course you can figure it out. Sometimes the Cphere application needs to be restarted for the tokens to arrive. And so very quickly and clearly. I liked the axis

[2022-05-06 19:01] thatoneguy55 commented on #51
[tzny zen bounty.txt](https://github.com/HorizenOfficial/HDE-Proposals/files/8643089/tzny.zen.bounty.txt)

Done

[2022-05-06 19:15] tolgagurlu commented on #51
I want to join the mission

[2022-05-06 19:24] tolgagurlu commented on #51
Hello, I joined the cobalt testnet and performed the operations said in Horizen HDE.

You can view general transactions in my wallet here. I leave it separately below. I will keep trying.
https://explorer-testnet.tokenmint.global/address/96eb50810fa1b5c7030eb90cc95457a3508d1cc206123190341e212aaa4421fd
I transferred TZEN to my wallet.
https://explorer-testnet.tokenmint.global/tx/b8239824c1aafd4f0f0

[2022-05-06 19:45] hading87 commented on #51
explorer transaction link : https://explorer-testnet.tokenmint.global/address/74d01e939a174a1baac0dc22e886147f69a11f35195fdfd5eb8f173a6c3b3cc0

5 transactions (from old to new)

71c5c7bb14968c9639dd883ff41eee23bac9fffc6393b20912e11e12ad16de20

791fde3944b8859fdcd8d88de14a2a4ff200969a4d68181351a96b4f3c19c0aa

196574c2c5be5ff23d0bd5075618d9a9c57a5cf0a3700f5a9ae829bfe33bd999

a19bae34cefb5e1efac72418

[2022-05-06 20:06] Ashrith333 commented on #51
HI finished task 1
[zen.docx](https://github.com/HorizenOfficial/HDE-Proposals/files/8643341/zen.docx)

[2022-05-06 20:06] Ashrith333 commented on #51
•	Download and install Sphere by Horizen Testnet as per [TokenMint blog post](https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet)
•	Create a new wallet in Sphere by Horizen Testnet and get testnet ZEN from the HEAP Portal (Lookup the transaction on the Horizen testnet block explorer, paste explorer transaction link in your submission)
Ans : https:

[2022-05-06 20:23] toyotheophilus commented on #51
I am interested.

[2022-05-06 21:04] toyotheophilus commented on #51
Documentation of my Test and finding on the Test Horizen’s new TokenMint Platform and Cobalt web wallet on Testnet.

1. I follow the step on TokenMint Launch Phase1 (https://blog.horizen.io/tokenmint-alpha-1-testnet-launch/) and created my Cobalt wallet and generated my wallet address (4f02920aade0377a357c7afca57a5554698288d577b4542836fe16639177ba7f).
And then i submitted my received $TZNY transac

[2022-05-06 21:04] Niks789 commented on #51
Hi!
Download and install Sphere from Horizen Testnet as per post in [TokenMint blog](https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet)
• Create a new wallet in Horizen Testnet's Sphere and get testnet ZEN from the HEAP portal (find the transaction in the Horizen testnet block explorer, paste the explorer transaction link in your application)
Ans

[2022-05-06 22:25] Timmyride commented on #51
I would like to participate in the task

[2022-05-06 22:28] toprakdere commented on #51
discord muratsen#9793
github toprakdere

https://explorer-testnet.tokenmint.global/tx/978131493b4663cef3a8da2263c1b6267352dbcc3d4b6eb7adcb8c67e3d54893

https://explorer-testnet.horizen.io/tx/52885be4502ca9607b9ebc65ab65c8cdab04f8d064d833c3a550059c40223181

https://explorer-testnet.tokenmint.global/tx/a910caa380480137767617a6915c8a2f87511ed2f9068988fa3a55f4e3913f0c

[2022-05-06 23:07] Shebanirka commented on #51
Transactions went quickly and successfully no errors were detected
https://explorer-testnet.tokenmint.global/address/23a08f47efc0381ff548c4468fb2861d82a599e1ca6d378dac5c0f6820579dcf
![Screenshot_9](https://user-images.githubusercontent.com/105085843/167226322-e5fcbe1f-ae4c-443b-b599-415bd083f420.jpg)
Discord nickname Штольня#3635

[2022-05-06 23:31] ivovaladares commented on #51
Hey.

I could help on this if you still need submissions. Just let me know and I'll do it tomorrow

[2022-05-06 23:52] tartinix commented on #51
https://explorer-testnet.tokenmint.global/tx/a7ed103fdcb0663b758bc96ac461b612cceca113700c468d22622b9d39844626

1. 9a2d2e6696ab387259aaf7ea69a90d2a8339b0e57298f1633dbd22956bb2f0e5
2. 981fbc9d451b279d15465a025600f9ae347cc53ae7bcb63c7b51d4d2f7fccac1
3. a7ed103fdcb0663b758bc96ac461b612cceca113700c468d22622b9d39844626

Overall, it was intuitive and fast and good.
How about adding  function to direct to

[2022-05-07 00:35] GONYOUNG-HONG commented on #51
[tzny.zen.feedback.txt](https://github.com/HorizenOfficial/HDE-Proposals/files/8644127/tzny.zen.feedback.txt)

Zen wallet for bounty reward:  znYiw3S4h5KGAKgdzPXmKfpcRiXcz9Ug4U2

Discord name: moonlight#5219

complete.

[2022-05-07 00:46] GONYOUNG-HONG commented on #51
[tzny.zen.feedback.txt](https://github.com/HorizenOfficial/HDE-Proposals/files/8644150/tzny.zen.feedback.txt)

Zen wallet for bounty reward:  znYiw3S4h5KGAKgdzPXmKfpcRiXcz9Ug4U2

Discord name: moonlight#5219

Thank you :)

[2022-05-07 00:47] Nevmin commented on #51
https://explorer-testnet.tokenmint.global/address/081f357bd514158cafa102f6e88e38ba433459b827b1358c8c5c8a36c067c555
https://explorer-testnet.horizen.io/tx/9dc08236ca7b5b2e680adcd688fa2cb0736dd254c9e4921d5158042453e6f665
Discord Blaga#3616

[2022-05-07 01:28] dmscos4 commented on #51
I Join the Task! Here it is the documentation.

[Tzny.feedback.txt](https://github.com/HorizenOfficial/HDE-Proposals/files/8644205/Tzny.feedback.txt)

[2022-05-07 01:37] dmscos4 commented on #51
I want to join it!

[Tzny.feedback.txt](https://github.com/HorizenOfficial/HDE-Proposals/files/8644216/Tzny.feedback.txt)

[2022-05-07 02:59] bonsung commented on #51
I finished all tasks and would like to know below.
1. Cobalt wallet can be connected with previous my own sphere wallet?
2. Does it take some time from Cobalt wallet to Sphere after all?
[tasks for horizen testnet and cobalt wallet.docx](https://github.com/HorizenOfficial/HDE-Proposals/files/8644333/tasks.for.horizen.testnet.and.cobalt.wallet.docx)

[2022-05-07 03:03] psyraxaus commented on #51
----------------------------------------------------------------
Task Log
----------------------------------------------------------------
I have completed the process for this task.  Here is the log of my transactions:

1. Downloaded and installed the testnet version of Sphere from https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet

2. Obtained s

[2022-05-07 04:19] snurdin commented on #51
I have completed the process of task.

Here my proof :
Faucet tZen                                 : https://explorer-testnet.horizen.io/tx/404d6c689c00e91fb9f354fa50462f6db0ae50d484f65415551a5c34872b1700
TZNY                                           : https://explorer-testnet.tokenmint.global/tx/978131493b4663cef3a8da2263c1b6267352dbcc3d4b6eb7adcb8c67e3d54893
Sent 1 ZEN to sidechain

[2022-05-07 04:33] Thyo7 commented on #51
I would like to participate in this task sir

Here's my submission form , please check it out
[Submission 1.docx](https://github.com/HorizenOfficial/HDE-Proposals/files/8644450/Submission.1.docx)

You can contact me at Discord / [Telegram](https://t.me/thyosa7)
Kaizoo#3622

[2022-05-07 04:47] magpie17 commented on #51
I would like to accept this task. Horizen discord name = magpie17#6861. Testing and comments document is attached
[tzny.feedback.from.user.magpie17.txt](https://github.com/HorizenOfficial/HDE-Proposals/files/8644477/tzny.feedback.from.user.magpie17.txt)
.

[2022-05-07 04:51] bonsung commented on #51
Dear Horizen~

I completed my tasks like below.
It was a big pleasure to make it through by myself and very pleased to see
the progress on Horizen ecosystem.

   -
   - Download and install Sphere by Horizen Testnet as per TokenMint blog
   post
   <https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet>
      - Installed a sphere
      -
   - Create

[2022-05-07 04:53] moneygo80 opened #52 "Task Log"
Task Log

I have completed the process for this task. Here is the log of my transactions:

1. Downloaded and installed the testnet version of Sphere from https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet

2. Obtained some testnet $TZEN from the [testnet faucet](https://heap.horizen.io/). Testnet faucet transaction id (txid) https://explorer-testn

[2022-05-07 04:54] moneygo80 commented on #51
I have completed the process for this task. Here is the log of my transactions:

Downloaded and installed the testnet version of Sphere from https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet

Obtained some testnet $TZEN from the [testnet faucet](https://heap.horizen.io/). Testnet faucet transaction id (txid) https://explorer-testnet.horizen.io/tx

[2022-05-07 04:54] muhamad-ramadhani commented on #51
I have done testing,
from sending ZEN from Sphere to Cobalt Wallet
I sent from my Sphere Address (ztUb57njxhUUWZ2D8gXGjJzT2befkVb9y4y) to my Cobalt Wallet (0aeff60721c8971dc4f873315b78bcb92d1810c8c0a47c48f10907f290cfb553) smoothly.

TXID : https://explorer-testnet.horizen.io/tx/0727ab0dcaf8cc357481a3da376f99ba91a6e282585a467ceb9036d503ceb39c

and I send my ZEN back to Sphere with TXID
https://expl

[2022-05-07 05:04] dewipradipta commented on #51
https://explorer-testnet.horizen.io/tx/5ca135efe9d0dac4abb95d2ad115c88fc0e0768e298c9f3754dc4634215671a6
discord: dewipradipta#0475
https://explorer-testnet.horizen.io/tx/458edacb60b4ded29e40a37b534d2295ca1a78bd9ef9c075e81a5bdf6697fe72
https://explorer-testnet.tokenmint.global/tx/e8d2d47729ed22a7c81213e182517b6b0bba66cfe7aaf85ee0c9dc5cfe1a8b5a
https://explorer-testnet.tokenmint.global/tx/6c23847aaf

[2022-05-07 05:19] robertsjr12 commented on #51
I have completed the testing

Here My TXID :

1. Faucet tZEN : [TXID](https://explorer-testnet.horizen.io/tx/be5086c2875c3a16d78b9c8714e50a1666fb8db55d9d651d831cd0fd50a80b6a)
2. I sent tZEN from my Sphere Address [ ztei4T6VvzHvaYRbeiuj31rjjVM4r7sf8Ep ] to my Cobalt Wallet [ e1d9a1d3d91848eeba072ba82e41f7f75237c37cac71fb0e9621531f85a613cc ] [TXID](https://explorer-testnet.horizen.io/tx/6928e6c49e46

[2022-05-07 05:28] jin000523 commented on #51
Hi, I'm done with everything!

• ZEN wallet for bounty reward
znYuQPd2ZVCcpuyBhkZpxBPhiQDjTk3a2M2

• Discord name
HooN#2821

[text.txt](https://github.com/HorizenOfficial/HDE-Proposals/files/8644534/text.txt)

[2022-05-07 06:13] zenjjangjjang commented on #51
I'm done with the work!!

• ZEN wallet for bounty reward
znp5hDZQeyEYicAL4BGUHqcWHaAbCwRUtZm

• Discord name
zenzenzen2020#8068

[zenjjangjjang.txt](https://github.com/HorizenOfficial/HDE-Proposals/files/8644581/zenjjangjjang.txt)

[2022-05-07 06:17] flechemano commented on #51
Can i do the task?

[2022-05-07 06:19] Tatijanka commented on #51
I have completed the testing
Here My TXID :
1.	Faucet tZEN : https://explorer-testnet.horizen.io/address/ztgQayM6HY6usJ7t1U2PuLuFbx7xUkjnWTF
2.	I sent tZEN from my Sphere Address [ ztgQayM6HY6usJ7t1U2PuLuFbx7xUkjnWTF ] to my Cobalt Wallet [e18be1760436224d7ec44193df558d27d48490ad918af23daaad6602cd790c74]   https://explorer-testnet.tokenmint.global/address/e18be1760436224d7ec44193df558d27d48490ad91

[2022-05-07 07:44] Tatijanka commented on #51
**I'm done with the work!!**
ZEN wallet for bounty reward znm4t5SeCWR6HBQPBz8yE7yYnngPrtd6bJc
Discord : tat-isl#5301
I have completed the testing
Here My TXID :
1.	Faucet tZEN : https://explorer-testnet.horizen.io/address/ztgQayM6HY6usJ7t1U2PuLuFbx7xUkjnWTF
2.	I sent tZEN from my Sphere Address [ ztgQayM6HY6usJ7t1U2PuLuFbx7xUkjnWTF ] to my Cobalt Wallet [e18be1760436224d7ec44193df558d27d48490ad918

[2022-05-07 08:18] abandoned911 commented on #51
Discord = valent#1213

My registered address (0d5a9d873b45d74da57aa1220499aa1c544952bfb8fd86569c3adfa00acb7e47) = https://explorer-testnet.tokenmint.global/address/0d5a9d873b45d74da57aa1220499aa1c544952bfb8fd86569c3adfa00acb7e47

My txid :
1. Faucet tzen = https://explorer-testnet.horizen.io/tx/6b3c2864f56060ec7d8188c1254c3650cd483f1402bf1522f47ccc8b7341cdec
2. Send zen to my cobalt wallet = https

[2022-05-07 08:36] beksl commented on #51
1. Downloaded Sphere by Horizen Testnet

2. Created a new wallet ztb5fVGrHqczK924jkiMsVaUJzgV9XWo3Am
and got 12 tZen from the Heap Portal transaction is on the
blockchain, but I can't find it on tokenmint explorer testnet
https://explorer-testnet.horizen.io/tx/c8fd862f884a30fc3798a69a669df46dd069eeeb3e674ca4867df1e98a8e0c90
Screenshot:
![1](https://user-images.githubusercontent.com/51974696/167246

[2022-05-07 08:44] Jarwo8680 commented on #51
- Downloaded Cobalt wallet extension and create address b3374a3744478a855f00f5344ef89f9ed8c594772c6a6b5c50057b555b470157 and received 3391 TZNY
• Create a new wallet in Sphere by Horizen Testnet and get testnet 12 ZEN from the HEAP Portal
Ans : https://explorer-testnet.horizen.io/tx/d520132f9d1149430c83530341caf167681582413e4d4f8100f1382f8e509bcd
• Download and install Cobalt web wallet. Also, fol

[2022-05-07 08:50] Michelisio commented on #51
Participate

[2022-05-07 09:16] Armanspm152 commented on #51
Downloaded Cobalt wallet extension and create address 168f3d23f2760d2f9a8fa0ac5cb8b43551ebe3231e107fa731d4ef9274776a06 and received 3761 TZNY
• Create a new wallet in Sphere by Horizen Testnet and get testnet 12 ZEN from the HEAP Portal
Ans : https://explorer-testnet.tokenmint.global/tx/978131493b4663cef3a8da2263c1b6267352dbcc3d4b6eb7adcb8c67e3d54893
• Download and install Cobalt web wallet. Also,

[2022-05-07 09:42] anh7714 commented on #51
Submit the results as an attached document. Please review and approve. ^^
[Submission.1.docx](https://github.com/HorizenOfficial/HDE-Proposals/files/8644830/Submission.1.docx)

[2022-05-07 10:00] akfahrixd commented on #51
I have completed the testnet according to the rules written in the article,

from sending ZEN from sphere to cobalt wallet

i sent from my sphere address (ztjDKhRmWJ1StHQZEXaAjtJ2fkyLP2QVhKa) to my cobalt wallet (42ff11b067a1834fac6a1c8b5f86e0682d8504fdf83a41fbd11045840e1dc8df) very smooth

TXID sent zen from sphere wallet to cobalt wallet: https://explorer-testnet.horizen.io/tx/5b670afbc651b8bb24

[2022-05-07 10:08] antoave commented on #51
### My submission for the task

1. First, must download and install the testnet version of Sphere from https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet

2. And then obtained some testnet $TZEN from [HEAP](https://heap.horizen.io/). My TXID faucet https://explorer-testnet.horizen.io/tx/16acc417562ca543d89443fa5b6d624e3557df76c74fd629609b9f43201e1

[2022-05-07 10:17] rizkyhero commented on #51
I have completed the testnet according to the rules written in the article,

from sending ZEN from sphere to cobalt wallet

i have also completed the previous step and got a test pilot role in discord horizen

my discord username ; rizky#8601

thank you

[2022-05-07 10:28] ZezeeLasvcoir commented on #51
### Greeting sir , i want to apply the tasks result

**- Download and install Sphere by Horizen Testnet as per [TokenMint blog post](https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet)**

**- Create a new wallet in Sphere by Horizen Testnet and get testnet ZEN from the [HEAP Portal](https://heap.horizen.io/) (Lookup the transaction on the Horizen

[2022-05-07 10:41] JMRHFAFA commented on #51
글에 적힌 규칙에 따라 테스트넷을 완료했고,

ZEN을 구체에서 코발트 지갑으로 보내는 것에서

내 구체 주소(ztbuncM9DujvnmAtEhxdK9KttweCUmG3Esb)에서 내 코발트 지갑(0af333be72cb1dc53e16af53b13a6d15abd17689c69dac212a0af935c7eef5aa)으로 보냈습니다.

TXID는 sphere 지갑에서 cobalt 지갑으로 zen을 보냈습니다: https://explorer-testnet.horizen.io/tx/347d782149631d1fedde1ba7a115e6667ec318bf08479a56e5d2fd957f823396
TXID는 github horoizen 공식에 제공된 주소로 TZNY를 보냈습니다.

TXID는 ZEN을 코발트 지갑에서

[2022-05-07 11:42] jbg2824 commented on #51
나는 작업 결과를 적용하고 싶습니다

**- [TokenMint 블로그 게시물](https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet)에 따라 Horizen Testnet의 Sphere를 다운로드하고 설치하십시오.**

이미 만든 내 주소는 ztYSrXnNEgf2Kz8gGuL5bZJbzHZGo25pHet입니다.

**- Horizen Testnet에 의해 Sphere에서 새 지갑을 만들고 [힙 포털](https://heap.horizen.io/)에서 testnet ZEN을 얻으십시오 (Horizen testnet 블록 탐색기에서 트랜잭션을 조회하고 제출물에 탐색기 트랜잭션 링크를

[2022-05-07 12:17] ShahiWato commented on #51
I want to participate

[2022-05-07 12:19] swasu commented on #51
i am  fully willing to participate in this worthy test net

[2022-05-07 12:22] DazaiNekorama commented on #51
### **Submission Form**
_Hello my name is Dazai , i've done all the tasks here's my result_

- Download Sphere by Horizen Testnet Wallet

- Get Testnet Faucet from heap.horizen.io

- Get Test Pilot badge on Discord

- Make a Forward transfer of tZEN from Sphere by Horizen Testnet to Cobalt

- Transfer 1 TZNY from Cobalt wallet to this address: e259c170f497cb266021d91b7eca983bf5bb32e8125c1fe2a76ed2

[2022-05-07 12:39] RenVnoP commented on #51
I would like to participate in this task

My submission document on next comment section

[2022-05-07 13:10] olegzpua commented on #51
Я завершил тестирование

Вот мой TXID:

1.Кран tZEN : https://explorer-testnet.horizen.io/tx/fd71d325882ff3afcc4681e1bb02faf3aedc53ed8ad7437b82ccc3f1784e53bc
2.Я отправил tZEN со своего адреса сферы ;https://explorer-testnet.horizen.io/tx/e13652b609663c63573359cc494f5d956fc349124526cd6a31604498b8462f6c
3.Переведите 1 TZNY с кошелька Cobalt на этот адрес: e259c170f497cb266021d91b7eca983bf5bb32e8125

[2022-05-07 13:25] dasvobodada commented on #51
Hello. I provide a progress report.
1. "TokenMint Launch Phase One: Cobalt Wallet On Testnet. Download To Join The TZNY Airdrop". **Answer** I created a Cobalt wallet and received test tokens TZNY - 2.533
Wallet address - 7a5b4aae6e6ec014252643502f605929c90fb799e08d4a2f81e95b4faa4df906
https://explorer-testnet.tokenmint.global/address/7a5b4aae6e6ec014252643502f605929c90fb799e08d4a2f81e95b4faa4df90

[2022-05-07 13:33] dhxhzoem5 opened #53 "### **Submission Form**"
### **Submission Form**

- Download Sphere by Horizen Testnet Wallet

- Get Testnet Faucet from heap.horizen.io

- Get Test Pilot badge on Discord

- Make a Forward transfer of tZEN from Sphere by Horizen Testnet to Cobalt

- Transfer 1 TZNY from Cobalt wallet to this address:

- Make a Backward transfer of at least 1 tZEN from Cobalt to Sphere by Horizen Testnet

Zen Mainnet address : znkgsMbAWWc

[2022-05-07 13:59] RenVnoP commented on #51
Here is my submussion form . Kindly check it

[Horizen Submission Form.docx](https://github.com/HorizenOfficial/HDE-Proposals/files/8645304/Horizen.Submission.Form.docx)

Discord : Renv#7170
ZEN Mainnet address : znSe8ESGKJuPyYvAzY4mV5EeggAtc2pLHQu

Thank you , i'll be waiting for the next interesting stuff

[2022-05-07 14:45] agus311 commented on #51
Recap of Testing Results for Cobalt and Sphere Wallets by Horizen Tesnet.

I followed TokenMint Launch Phase1 (https://blog.horizen.io/tokenmint-alpha-1-testnet-launch/) and created my Cobalt wallet and created my wallet address (d60466f763cefe21a059e6cb67887b81fe53efd9e88eee4b05c243b903603c3f).

I downloaded the Sphere By Horizen test Wallet via this link (https://blog.horizen.io/tutorial-sending

[2022-05-07 14:47] lufichairilanwar commented on #51
Task Log

I have completed the process for this task. Here is the log of my transactions:

Downloaded and installed the testnet version of Sphere from https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet

Obtained some testnet $TZEN from the [testnet faucet](https://heap.horizen.io/). Testnet faucet transaction id (txid) https://explorer-testnet.hor

[2022-05-07 14:49] agus311 opened #54 "Bug Transaction "Pending" Sphere By Horizen Testnet"
Recap of Testing Results for Cobalt and Sphere Wallets by Horizen Tesnet.

I followed TokenMint Launch Phase1 (https://blog.horizen.io/tokenmint-alpha-1-testnet-launch/) and created my Cobalt wallet and created my wallet address (d60466f763cefe21a059e6cb67887b81fe53efd9e88eee4b05c243b903603c3f).

I downloaded the Sphere By Horizen test Wallet via this link (https://blog.horizen.io/tutorial-sending

[2022-05-07 14:51] #54 closed

[2022-05-07 15:28] GrisFringe commented on #51
If it is necessary for data purposes, I will participate.

[2022-05-07 15:56] jaewkim00 commented on #51
I have completed the testnet according to the rules written in the article,

from sending ZEN from sphere to cobalt wallet

i sent from my sphere address ( ztnCT4yKDLeWVk2vDh3SUwXYxGkbkhkYd8i ) to my cobalt wallet ( c690245a84b98be2c59090d1f6010625c371c890c4ba26a576d3644d0f0b6000 )

TXID sent zen from sphere wallet to cobalt wallet:
https://explorer-testnet.tokenmint.global/tx/e0b1b89addb8de84c706

[2022-05-07 16:17] NEZIZEN commented on #51
Task Log

I have completed the process for this task. Here is the log of my transactions:

Downloaded and installed the testnet version of Sphere from https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet

Obtained some testnet $TZEN from the [testnet faucet](https://heap.horizen.io/). Testnet faucet transaction id (txid) https://explorer-testnet.hor

[2022-05-07 17:20] changmin92 commented on #51
Task Log

I have completed the process for this task. Here is the log of my transactions:

Downloaded and installed the testnet version of Sphere from https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet

Obtained some testnet $TZEN from the [testnet faucet](https://heap.horizen.io/). Testnet faucet transaction id (txid) https://explorer-testnet.hor

[2022-05-07 17:37] yeomjongmin commented on #51
Task Log

I have completed the process for this task. Here is the log of my transactions:

Downloaded and installed the testnet version of Sphere from https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet

Obtained some testnet $TZEN from the [testnet faucet](https://heap.horizen.io/). Testnet faucet transaction id (txid) https://explorer-testnet.hor

[2022-05-07 17:47] ODD8 commented on #51
My mainnet ZEN Wallet address: ztkd3vp5tPmzy6mPpqxiEXjKnDoHn4ycFkY
 cobalt wallet: 717b91009d182f56d78dc6d702ecd55715d174f23d7041468505f91111b130ed
TXID sent zen from sphere wallet to cobalt wallet:
https://explorer-testnet.horizen.io/address/ztkd3vp5tPmzy6mPpqxiEXjKnDoHn4ycFkY
TXID sent back ZEN from cobalt wallet to sphere wallet:
https://explorer-testnet.tokenmint.global/address/717b91009d182f5

[2022-05-07 17:48] anoderworld commented on #51
Task Log

I have completed the process for this task. Here is the log of my transactions:

Downloaded and installed the testnet version of Sphere from https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet

Obtained some testnet $TZEN from the [testnet faucet](https://heap.horizen.io/). Testnet faucet transaction id (txid) https://explorer-testnet.hor

[2022-05-07 18:21] Timmyride commented on #51
After downloading cobalt wallet and completing all required tasks, I earned my Test Pilot badge and proceeded to testing Horizen’s TokenMint Platform and Cobalt Web Wallet on Testnet by visiting heap portal and getting some test ZEN (36 tZEN) from the faucet, this is the faucet link (I got the 36 tZEN in two batches i.e 12 and 24):
For 12 tZEN:
https://explorer-testnet.horizen.io/tx/b9bbd6297e4d66

[2022-05-07 18:48] VladiComescu commented on #51
My submission for the task:

Link for pdf with comments:
[fcc0095eea0#6752_testingCobalt.pdf](https://github.com/HorizenOfficial/HDE-Proposals/files/8645769/fcc0095eea0.6752_testingCobalt.pdf)

https://drive.google.com/file/d/1S6aP3v5wj78Xapcyr8Ml_PRWrEflUuf5/view?usp=sharing

Make a Forward transfer of tZEN from Sphere by Horizen Testnet to Cobalt

https://explorer-testnet.horizen.io/tx/21f8a1b56

[2022-05-07 19:56] celesto754 commented on #51
I am ready to participate

[2022-05-07 20:08] patosang commented on #51
Haven downloaded cobalt wallet I completed all required tasks, I earned my Test Pilot badge and proceeded to testing Horizen’s TokenMint Platform and Cobalt Web Wallet on Testnet I visited heap portal and got some test ZEN (12 tZEN) from the faucet. Below is the faucet link:
https://explorer-testnet.horizen.io/tx/1f3c8144c22843961035d6633788664dc305c17ce9287027f8960bc3c7d73fa5
Below is a report on

[2022-05-07 21:34] AirbenderMyg commented on #51
1- Download and install Sphere by Horizen Testnet

Done

2- Create a new wallet in Sphere by Horizen Testnet and get testnet ZEN from the [HEAP Portal](https://heap.horizen.io/) (Lookup the transaction on the Horizen testnet block explorer, paste explorer transaction link in your submission)

TLİnk: https://explorer-testnet.horizen.io/tx/bbaeed152ba4cb96ff2ed0e2477a7471bede4e5f815bbcc6dd961855f429

[2022-05-07 21:52] jbg2824 commented on #51
I would like to apply the results of the operation.

**- Download and install Sphere on Horizen Testnet according to the [TokenMint blog post](https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet).**

My address I have already created is ztYSrXnNEgf2Kz8gGuL5bZJbzHZGo25pHet.

**- Create a new wallet in Sphere by Horizen Testnet and get testnet ZEN fr

[2022-05-07 23:03] Soyulchloe commented on #51
●1 Download and install Sphere by Horizen Testnet as per TokenMint blog post
●2 Create a new wallet in Sphere by Horizen Testnet and get testnet ZEN from the HEAP Portal
https://explorer-testnet.horizen.io/address/ztYeHftNbXHGYmrMpkXXD91C2bJRuzvDA73

●3 Discord name: chloe kim#7025

● 4create new wallet, and get address Cobalt wallet:
5bc677433786048f0e008fcb3072ba97d70b53ff5025e857bfd19527a8f9859

[2022-05-08 00:39] yntryna28 commented on #51
tx id : https://explorer-testnet.tokenmint.global/tx/f53792089fd166f8fc97faffa244b8409e2db494f04c186322ebc26b5670fedd

ussername discord : yntryna28#9413

[2022-05-08 01:13] zentomoon commented on #51
![image](https://user-images.githubusercontent.com/86240505/167277531-55f99aca-3254-4334-9d83-0ea065672b9c.png)

[2022-05-08 01:31] zentomoon commented on #51
First step: Download and install Sphere by Horizen Testnet as per [TokenMint blog post](https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet)

![image](https://user-images.githubusercontent.com/86240505/167277763-0eaca7a1-64eb-428c-aa80-72c8afd725bb.png)

Second Step :
Create a new wallet in Sphere by Horizen Testnet and get testnet ZEN from the [HE

[2022-05-08 02:55] hcjdoublenine commented on #51
1.https://explorer-testnet.horizen.io/tx/fc1d8b1a9da96a0372bc2cc4843fef8f27c103c16603b5906e7bf90110771dd4
2.ID:Hype#3913
3.https://explorer-testnet.horizen.io/tx/a55f7aa5ce37a05f6f943a837d512ca00703383baef5c9e8a4b861909f4fa0ca
4.https://explorer-testnet.tokenmint.global/address/94fc157f9fae2da314ea0253726ae1f071bae31701975fbde0822bbe49c4c334
5.https://explorer-testnet.tokenmint.global/address/94fc

[2022-05-08 03:07] zennev commented on #51
안녕하세요 ~
$ZEN 에 테스터가 되어 도움을 드릴 수 있는것에 감사합니다.

TokenMint 블로그 게시물 에 따라 Sphere by Horizen Testnet 다운로드 및 설치
내 테스트넷 지갑 주소 : ztmR5KuDrfgie57ASQ9829pt2BYmTSVBFpx

Sphere by Horizen Testnet에서 새 지갑을 만들고 HEAP 포털 에서 테스트넷 ZEN을 가져옵니다 (Horizen 테스트넷 블록 탐색기에서 트랜잭션 조회, 제출에 탐색기 트랜잭션 링크 붙여넣기)

코발트 웹 지갑을 다운로드하여 설치하십시오. 또한 TokenMint 블로그 게시물 의 지침에 따라 "테스트 파일럿" Discord 배지를 받으세요(제출 시 Discord 사용자 이름 제공).
코발트 웹 지갑 주소 : 5e5

[2022-05-08 03:10] yheeoh commented on #51
I have completed the process for this task. Here is the log of my transactions:

1. Downloaded and installed the testnet version of Sphere
2. Obtained 12 ZEN from the testnet faucet 3 times, totally 36ZEN.
    https://explorer-testnet.horizen.io/tx/d01426c76d8316af184aee15b9862a133973d80fcea88c9c0a1aec66597640c6
    https://explorer-testnet.horizen.io/tx/6bc75ffe54de24a025d59ab2737cc2ffcefcb0fd932

[2022-05-08 03:13] zennev commented on #51
Hello

Download and install Sphere by Horizon Testnet following the TokenMint blog post
My TestNet Wallet Address: ztmR5KuDrfgie57ASQ9829pt2BYmTSVBFpx

Create a new wallet from Sphere by Horizon Testnet and import the TestNet ZEN from the HEAP portal (see Horizon Testnet Block Explorer for transactions, paste the Explorer transaction link to submission)
https://explorer-testnet.horizen.io/tx/d5c47

[2022-05-08 03:24] hyunbin2222 commented on #51
Task Log

I have completed the process for this task. Here is the log of my transactions:

Downloaded and installed the testnet version of Sphere from https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet

Obtained some testnet $TZEN from the testnet faucet. Testnet faucet transaction id (txid) https://explorer-testnet.horizen.io/tx/75175615e9921e2f0

[2022-05-08 04:18] surizen1 commented on #51
Hi ~ Task Log

I have completed the process for this task. Here is the log of my transactions:

Downloaded and installed the testnet version of Sphere from https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet

Obtained 12 testnet $TZEN from the testnet faucet. Testnet faucet transaction id (txid)
https://explorer-testnet.horizen.io/tx/75d3b635468419

[2022-05-08 04:32] hanyeesoul commented on #51
Task Log

I have completed the process for this task. Here is the log of my transactions:

Downloaded and installed the testnet version of Sphere from https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet

-Obtained some testnet $TZEN from the testnet faucet. Testnet faucet transaction id (txid) https://explorer-testnet.horizen.io/tx/1e82642df01ce22a

[2022-05-08 04:48] nam1man commented on #51
●1 Download and install Sphere by Horizen Testnet as per TokenMint blog post
●2 Create a new wallet in Sphere by Horizen Testnet and get testnet ZEN from the HEAP Portal
**https://explorer-testnet.horizen.io/tx/ee712f7bd5c345b8de5027a184f7aa9ef50c579b07a35c100fd9e896c71aa4cd**

●3 Discord name: nam1man#1900

● 4 create new wallet, and get address Cobalt wallet:
**b905d5d9454c03969770bac7ea31d9aca8

[2022-05-08 05:29] kanmiyoun commented on #51
Task Log

I have completed the process for this task. Here is the log of my transactions:

Downloaded and installed the testnet version of Sphere from https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet

-Obtained some testnet $TZEN from the testnet faucet. Testnet faucet transaction id (txid
)https://explorer-testnet.horizen.io/tx/f192063936136fd8

[2022-05-08 06:07] kangsunghoo0 commented on #51
Task Log

I have completed the process for this task. Here is the log of my transactions:

Downloaded and installed the testnet version of Sphere from https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet

-Obtained some testnet $TZEN from the testnet faucet. Testnet faucet transaction id (txid
)https://explorer-testnet.horizen.io/tx/1cb3cee7afb2dfbd

[2022-05-08 06:22] kimdongwannn commented on #51
Task Log

I have completed the process for this task. Here is the log of my transactions:

Downloaded and installed the testnet version of Sphere from https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet

-Obtained some testnet $TZEN from the testnet faucet. Testnet faucet transaction id (txid
)https://explorer-testnet.horizen.io/tx/53ad8de040b5444e

[2022-05-08 07:05] iantheitguy commented on #54
Transfer 1 TZNY from Cobalt wallet to this address: crash the software cant access my wallet e259c170f497cb266021d91b7eca983bf5bb32e8125c1fe2a76ed277021592d2 feel like the app crash no sign of the TZNY was send . It say success but did not show tokens gone click back and. It just say send Pending. app crash cant access the wallet address. How do i fix the problem reinstall?

https://github.com/Hor

[2022-05-08 07:05] kwontto commented on #51
Hi ~ Task Log
I have completed the process for this task. Here is the log of my transactions:
Downloaded and installed the testnet version of Sphere from https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet
Obtained 12 testnet $TZEN from the testnet faucet. Testnet faucet transaction id (txid)
https://explorer-testnet.horizen.io/tx/27130006b1a5da95e

[2022-05-08 07:09] iantheitguy opened #55 "Cobalt wallet error when sending 1 TZNY"
Transfer 1 TZNY from Cobalt wallet to this address: crash the software cant access my wallet e259c170f497cb266021d91b7eca983bf5bb32e8125c1fe2a76ed277021592d2 feel like the app crash no sign of the TZNY was send . It say success but did not show tokens gone click back and. It just say send Pending. app crash cant access the wallet address. How do i fix the problem reinstall?

https://github.com/Hor

[2022-05-08 08:04] npsmans commented on #51
﻿
submission 1 : Make a Forward transfer of tZEN from Sphere by Horizen Testnet to Cobalt - correct sidechain ID in Sphere by Horizen Testnet is 05612f21...7450f3d1 Transaction

https://explorer-testnet.horizen.io/tx/06b955d6a177a12bb2c96da647dce57395b7ea1f314f359f8c31d5239d1e9bb9

﻿﻿
submission 2 : Transfer 1 TZNY from Cobalt wallet to this address: e259c170f497cb266021d91b7eca983bf5bb32e8125c1fe

[2022-05-08 08:20] jyesep commented on #51
I already do task
Task 1
https://explorer-testnet.tokenmint.global/tx/6f3391210c30857eef794b64d6371c1b5aee087a5a283b6acfdadd3815d9e91a
Task 2
https://explorer-testnet.tokenmint.global/tx/2a984d9e88b99020df17d276d5dc9f411e2af1f0f8abf7f75a86c577b2011771
Task 3
https://explorer-testnet.tokenmint.global/tx/7fc4f318bd1b5ee7cf584f2ecf73ab1faecb01c2142b7729da2a8e6d4e8ba53f

All working good but it take l

[2022-05-08 08:29] alifikri123 commented on #51
https://explorer-testnet.horizen.io/tx/c9d2af2a73ee4074cbd7814b5580242c25399cbcaefa3c3e0ae91217bdc49882 transfer tZEN from Sphere to Cobalt
https://explorer-testnet.tokenmint.global/tx/896ec5198119383a191bd51b8df8a94e3ea24508c7790354eb6ae4ac8ce2d38a transfer TZNY from Cobalt to e259c170f497cb266021d91b7eca983bf5bb32e8125c1fe2a76ed277021592d2
https://explorer-testnet.tokenmint.global/address/0b6acb

[2022-05-08 08:50] jambulmerah commented on #51
I'm ready, my dispute has got the role of test pilot, but I don't have time now, tonight I will do all the tasks you give.

[2022-05-08 08:55] jambulmerah commented on #51
I'm ready, my dispute has got the role of test pilot, but I don't have time now, tonight I will do all the tasks you give.

[2022-05-08 10:00] toprakdere commented on #36
i want to translate

[2022-05-08 10:07] tmdghchl111 commented on #51
submission 1 : Make a Forward transfer of tZEN from Sphere by Horizen Testnet to Cobalt - correct sidechain ID in Sphere by Horizen Testnet is 05612f21...7450f3d1 Transaction

https://explorer-testnet.tokenmint.global/tx/f9fe2d8956dd9784df965e0362e62c03ce9581ccbb9381fbd96c8185186c73e0
﻿﻿
submission 2 : Transfer 1 TZNY from Cobalt wallet to this address: e259c170f497cb266021d91b7eca983bf5bb32e8125c

[2022-05-08 10:31] toprakdere commented on #9
i have done video for turkish community https://www.youtube.com/watch?v=dpvutu4V07o

[2022-05-08 14:25] Yanizie commented on #51
1. Downloading and using Sphere is easy since I am using it since last year. Making transaction to send/receive token is quite easy, the new thing is sending through sidechain transfer. Time used is almost 8minutes based on transaction details.

Getting $Zen from testnet faucet TX:
https://explorer-testnet.horizen.io/tx/0d5f77a5413f2bf6798ef01fd2b3d4d22a0a0bb6a1aeb8c1842b154441d92f54

TX1 (sending

[2022-05-08 16:17] jambulmerah commented on #51
@PowerVANO done sir.

1. TX ID Claim testnet Sphere:
      https://explorer-testnet.horizen.io/tx/d32b3a44e4d487dd475b6bf44db499d3317eb870c41b7a3c07394945520a34a5

2. TX ID send ZEN from sphere to cobalt :
   a. Explorer from sphere TX ID :
      https://explorer-testnet.horizen.io/tx/76503447fe5d93ff43215089ff83d9c34c04cb2ba0d70da1706453f1ffa11d67

   b. Explorer from tokenmint cobalt TX ID:

[2022-05-08 17:18] flechemano commented on #51
done...
[ttest.txt](https://github.com/HorizenOfficial/HDE-Proposals/files/8647444/ttest.txt)

[2022-05-08 19:41] Michelisio commented on #51
https://explorer-testnet.horizen.io/tx/88b0929e0a5ef22bbc1e498d6ab8681c64be75de71b2bf25b34f2b71dc564d3d

https://explorer-testnet.horizen.io/tx/e6b523ad58343752d13232188818be34fb1357a7829da4975b5c3c80812da035

https://explorer-testnet.tokenmint.global/tx/978131493b4663cef3a8da2263c1b6267352dbcc3d4b6eb7adcb8c67e3d54893

https://explorer-testnet.horizen.io/tx/147b7209ee9c36246dcb4859caf74e5cf01cb003

[2022-05-08 19:52] alvingreysolana commented on #51
Hey team, where i can submit my google docs link?
Already done to do the tasks.

[2022-05-08 20:12] celesto754 commented on #51
I have completed the process for this task. Here is the log of my transactions:
Downloaded and installed the testnet version of Sphere from https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet

Obtained 12 testnet $TZEN from the testnet faucet. Testnet faucet transaction id (txid)
https://explorer-testnet.horizen.io/tx/422a9241002f135fef499a1a549426

[2022-05-08 20:53] infinitEnigma commented on #51
here's my report.
https://github.com/infinitEnigma/HDE-Proposals/blob/tokenmint-test/Test-tokenmint_report.md
do we have to create the pull request? @PowerVANO

[2022-05-08 23:56] JuniorDelGebi17 commented on #51
i fully want to take part of this test.

my report
[firsttasktest.txt](https://github.com/HorizenOfficial/HDE-Proposals/files/8648024/firsttasktest.txt)

[2022-05-09 01:17] luckys2323 opened #56 "Task completed"
• Download and install Sphere by Horizen Testnet as per [TokenMint blog post](https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet)
• Create a new wallet in Sphere by Horizen Testnet and get testnet ZEN from the HEAP Portal (Lookup the transaction on the Horizen testnet block explorer, paste explorer transaction link in your submission)
Ans : https:

[2022-05-09 10:46] lukmonforreal commented on #51
Can i join the task sir?

[2022-05-09 13:21] asuhbro commented on #51
Task Log

I have completed the process for this task. Here is the log of my transactions:

Downloaded and installed the testnet version of Sphere from https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet

-Obtained some testnet $TZEN from the testnet faucet. Testnet faucet transaction id (txid)
https://explorer-testnet.horizen.io/tx/9e3111320b4307ae

[2022-05-09 13:24] Uci100899 opened #57 "proof that the task has been completed"

[2022-05-09 14:12] PowerVANO commented on #51
Hi Everyone! Thank you very much for such an active participation!

There is one small mistake in the last step though - during backward transfer we need a transaction link from the Horizen testnet block explorer as well (hence the ~37 hours of waiting time).

Here is the updated step (updated in the first post as well):

`Make a Backward transfer of at least 1 tZEN from Cobalt to Sphere by Horize

[2022-05-09 14:25] Uci100899 commented on #51
PROOF THAT THE TASK HAS BEEN COMPLETED

Downloaded and installed the testnet version of Sphere from https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet

Obtained some testnet $TZEN from the [testnet faucet](https://heap.horizen.io/). Testnet faucet transaction id (txid) https://explorer-testnet.horizen.io/tx/ab745f2eb8657dcd5896e26592f31fee4dad080d

[2022-05-09 15:12] leeminho4 commented on #51
Task Log

I have completed the process for this task. Here is the log of my transactions:

Downloaded and installed the testnet version of Sphere from https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet

-Obtained some testnet $TZEN from the testnet faucet. Testnet faucet transaction id (txid
)https://explorer-testnet.horizen.io/tx/ccbc151b7cf98a7d

[2022-05-09 15:21] kimahjoong22 commented on #51
Task Log
https://github.com/HorizenOfficial/HDE-Proposals/issues/51

I have completed the process for this task. Here is the log of my transactions:

Downloaded and installed the testnet version of Sphere from https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet

-Obtained some testnet $TZEN from the testnet faucet. Testnet faucet transaction id (tx

[2022-05-09 17:32] Sam-Steel55 commented on #9
I have created a draft for this task and submitted it to @Horusfeathers. Still awaiting review.

[2022-05-09 18:18] PowerVANO commented on #51
Hi Everyone!

We are stoked to see such an incredible participation in this task! I counted around 65 at least partly completed submissions! Unfortunately, only first-10 people will be paid as per the terms of the task described in the first post.

For everyone else, again, super thankful for your participation and we will have more tasks on your way for TokenMint, including token generation tasks

[2022-05-09 18:55] infinitEnigma commented on #51
hi @PowerVANO, i believe it's already there, i did explicitly wait for the [backward confirmation to happen](https://explorer-testnet.horizen.io/tx/45ed5c30a11900204c9ed15e50ca2995c34c0c7922642bbc0cdc1a4a3a9d012f), before submitting the [full report here](https://github.com/infinitEnigma/HDE-Proposals/blob/tokenmint-test/Test-tokenmint_report.md) with the link included at the bottom, below the las

[2022-05-09 19:19] Kolush1 commented on #30
Hi, is this task still open ? If yes, I may apply for Horizen Ambassadors program.

[2022-05-09 21:03] shofaainul opened #58 "Horizen Documentation By : Sanqua#8964"
Horizon Address : znfyEaYvjSXVLzwDHU9sEXTGwrpcjAkwbiq

[2022-05-09 21:37] lukmonforreal commented on #51
hmmm, i think the Horizen team supposed to give 2 $zen coin per person so that there would be a lot winners instead of giving 30 $zen to one person. Anyway, my Love is still with Horizen network ; kudos to the team👍

[2022-05-09 21:47] shofaainul commented on #51
Horizon Address : znfyEaYvjSXVLzwDHU9sEXTGwrpcjAkwbiq

[2022-05-09 22:13] scnewth commented on #51
requiretment task
Task 2. https://explorer-testnet.horizen.io/tx/fb80112760896d942c8b52676a73429daf44f6073c538f811720cefcd605271d
Task 3. scnewth#7360
Task 4. https://explorer-testnet.horizen.io/tx/353484b5da7482b673ce5c02ac289b4f8bba05bec63e297eb0bd37a99002bcc7
Task 5. https://explorer-testnet.tokenmint.global/tx/161b1403d03021190e28ee9bd858ff6d39cedd74d454ea01df295ca8c2ec088f
Task 6. https://exp

[2022-05-09 22:14] scnewth opened #59 "requiretment task"
requiretment task
Task 2. https://explorer-testnet.horizen.io/tx/fb80112760896d942c8b52676a73429daf44f6073c538f811720cefcd605271d
Task 3. scnewth#7360
Task 4. https://explorer-testnet.horizen.io/tx/353484b5da7482b673ce5c02ac289b4f8bba05bec63e297eb0bd37a99002bcc7
Task 5. https://explorer-testnet.tokenmint.global/tx/161b1403d03021190e28ee9bd858ff6d39cedd74d454ea01df295ca8c2ec088f
Task 6. https://exp

[2022-05-09 22:52] Nevmin commented on #51
where to send all hash transactions

вт, 10 мая 2022 г. в 07:13, scnewth ***@***.***>:

[2022-05-09 23:59] kdidenko commented on #51
am I too late or there is still a sit for me on this task?

[2022-05-10 00:36] cryptochris123 commented on #51
Hi @PowerVANO

Here's my report: https://github.com/cryptochris123/HorizenTest-51/blob/main/Test%20Horizen.docx

Please let me know if there's anything else.

Best Regards,
Chris

[2022-05-10 00:52] cryptochris123 commented on #51
Hi @PowerVANO

Here's my report: https://github.com/cryptochris123/HorizenTest-51

Please let me know if there's anything else.

Best Regards,
Chris

[2022-05-10 03:17] Kvantrum commented on #51
submission 1 : Make a Forward transfer of tZEN from Sphere by Horizen Testnet to Cobalt - correct sidechain ID in Sphere by Horizen Testnet is 05612f21...7450f3d1 Transaction

https://explorer-testnet.tokenmint.global/tx/0e902fcd9f6e2479f079f21158b4792ff8abf12ef17f5c07e560e05582cb88f0

  submission 2 : Transfer 1 TZNY from Cobalt wallet to this address: e259c170f497cb266021d91b7eca983bf5bb32e8125c

[2022-05-10 05:02] tuxian commented on #51
1. get testnet ZEN
https://explorer-testnet.horizen.io/tx/69970f3c04c4076084d05b56ccd65a2376d3b6aacad68b7006a950fa447b64f1

2. “Test Pilot” Discord badge
coercer#1060

3. Make a Forward transfer of tZEN from Sphere by Horizen Testnet to Cobalt
https://explorer-testnet.horizen.io/tx/98134ecb71ca723ce151b207483ddcfe5f72fcd47551b16b5a064b6aadb3911a

4. Transfer 1 TZNY from Cobalt wallet to this addre

[2022-05-10 05:09] HeroicStoicWarrior opened #60 "Test"
Scope of work:
Download and install Sphere by Horizen Testnet as per [TokenMint blog post](https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet)

- Easy to download. Simple instructions.

Create a new wallet in Sphere by Horizen Testnet and get testnet ZEN from the HEAP Portal (Lookup the transaction on the Horizen testnet block explorer, paste expl

[2022-05-10 12:46] TheCryptoRed commented on #51
I am interested if the task is still open.

[2022-05-10 19:39] Tijahraman commented on #51
Hey guys, hope all the Horizen team is doing good. It is a pleasure to collaborate with you guys !

- Create a new wallet in Sphere by Horizen Testnet and get testnet ZEN from the HEAP Portal
https://explorer-testnet.tokenmint.global/tx/f5497b68ed8afeba608dfe542788e3c2c7ba9ad9bbc1ad38cc7e81583bb33af7

- Download and install Cobalt web wallet. Follow instructions in TokenMint blog post to get “Test

[2022-05-10 20:41] alvingreysolana commented on #51
Hi @PowerVANO , im already done complete the submission, you can check here: [](https://docs.google.com/document/d/1ptSSaTgDXeR436uGxJHQBZOfpqL_s8y71AroUX59MjI/edit?usp=sharing)

[2022-05-11 03:51] DeFiMoney-Printer commented on #51
I would like to take the task @PowerVANO I have already done a few steps and just finally received the test ZEN

2 Transactions received tZNY
https://explorer-testnet.tokenmint.global/address/30ceea0ee536f70a4491a1e264a8f6222c90ffcdc4ea6722dd89b15980df089f

receiving tZen
https://explorer-testnet.horizen.io/tx/8e1268e742b8b2b0dfc16315d2ae3c2313fb3fc4a4425977588a5478af71b0ff

sidechain transfer to

[2022-05-11 05:09] DeFiMoney-Printer commented on #11
@PowerVANO let me know if the task is still able to participate. thx!

[2022-05-11 05:11] DeFiMoney-Printer commented on #24
@PowerVANO let me know if this is still open. thanks!

[2022-05-11 05:16] goldenzen81 commented on #51
[submission _Goldenzen#5179_20220511.txt](https://github.com/HorizenOfficial/HDE-Proposals/files/8666894/submission._Goldenzen.5179_20220511.txt)

Hi Dear, @PowerVANO , I have been already done complete the submission, you can check the file attached.
I really appreciate to be a part of this.
Let's go to the top with ZEN!

[2022-05-11 05:45] DeFiMoney-Printer commented on #24
@Horusfeathers has the final submission been granted?

[2022-05-11 05:47] DeFiMoney-Printer commented on #22
@PowerVANO does the tag bounty_paid_2 mean there is 2 slots of 4 remain? thanks!

[2022-05-11 05:51] DeFiMoney-Printer commented on #23
@PowerVANO the task is still available?

[2022-05-11 07:37] #57 closed

[2022-05-11 08:07] iantheitguy commented on #51
@PowerVANO will provide a more structured feedback - going to use submissions like infinitEnigma the problem has been fixed Dont think it was some think to do with me how i tested the blockchain . Will do the last task after I repoted my finding in a better way.

[2022-05-11 08:37] iantheitguy opened #61 "iantheitguy/Sphere by Horizen Testnet and Cobalt browser wallet sidechain"
**Test sidechain functionalities with Sphere by Horizen 1.3.0 and Cobalt Brower.  Tested on windows 10 64bit PC and Windows 10 laptop 32bits chrome and brave browser****

The goal is to test the new 'Sphere by Horizen' 1.3.0  wallet to send and received to the cobalt browser wallet and send and received to the sidechain.

- Download Sphere by Horizen 1.3.0
   https://github.com/HorizenOfficial/Sph

[2022-05-11 15:04] Yanizie commented on #51
Done all proceeding. The GUI is quite easy to use. There are also few bugs I experienced..

1. Downloaded Sphere and Cobalt and there are no issues there. the only concern is if there will be future deployment on mobile devices, that would be great.

2.  I easily transferred tZen and TZNY on respective wallet address with little delays but no errors found.
Here are my transactions.

**1st TX, (Hea

[2022-05-11 20:32] captainajayanik commented on #51
@PowerVANO I want to take part in this task. Secondly, Does it mean i have to wait for the completion of the last transaction i.e. cobalt to sphere testnet transaction before i post all my documentations

[2022-05-12 02:27] Sam-Steel55 commented on #9
Posted my video! ⤵️⤵️

https://twitter.com/_Sam_Steel/status/1524571970872000514?t=12q7AMW4wsYXLj399Pnc4A&s=19

[2022-05-12 04:06] DeFiMoney-Printer commented on #11
@Horusfeathers thank you! will get in touch with a draft

[2022-05-12 04:54] Sam-Steel55 commented on #9
Posted my video! ⤵️⤵️

https://twitter.com/_Sam_Steel/status/1524571970872000514?t=12q7AMW4wsYXLj399Pnc4A&s=19

[2022-05-12 05:41] xloganx20 commented on #51
sent 1 TZNY
https://explorer-testnet.tokenmint.global/tx/b1d96b8b52ce88b740747df4146ec219095bcbc93132156834ee09c9e3b62508

sent 1 ZEN back to Sphere
https://explorer-testnet.tokenmint.global/tx/ce7ced2a61ed32609fca8336e7ebd77f50604cedca49015f0ed09b0999db4b0b

cobalt address> ce97c8e555ab850d00dca373dcfa67333280b13ea5eb404ae2e1220fd0a52dde

[2022-05-12 06:42] maniakbtc commented on #51
Sent 1 TZNY:
https://explorer-testnet.tokenmint.global/tx/ae7119ddb3069191f8ee3606698e30081ca45de3cd13e0b95de70abfd67d2223

Sent 1 ZEN back to Sphere
https://explorer-testnet.tokenmint.global/tx/5efa79a96779d72002033448ea988234be8fb70cc9a2daa87fd494aae7866742

Cobalt address:
c3fadba34cc285010663a0618997868be5cfea0bad036836390e83f49a22b009

[2022-05-12 14:25] luckychacha commented on #51
1.cobalt address:
    b786fd7459e1a382c7b4a6b8f716afa1a1d5e1428af98f74167951cbb7e93f8e

2.Sphere by Horizen Testnet Address:
    ztetmkovi9eAxbyTLgLX91ZZeUm4SBKF3pr

3.Make a Forward transfer of tZEN from Sphere by Horizen Testnet to Cobalt
    https://explorer-testnet.horizen.io/tx/de8543bab67e1f3d82bb574b54198e4b7a482c67537779064f8b2ea363d5f480

4.Transfer 1 TZNY from Cobalt wallet to this addre

[2022-05-12 15:50] PowerVANO commented on #51
Hi Everyone!

Again, thanks for posting more reports - unfortunately we only had 10 slots, so you will not be paid.
But as long as you want to test the software and provide feedback, we are happy for that!

Updating our status so far.
These are first-10 who stated their wish to participate:

@psyraxaus - please update the submission to include the updated last step mentioned above in my post.
acti

[2022-05-12 21:23] tolgagurlu opened #62 "#Horizen Testnet Report"
Hello, I joined the cobalt testnet and performed the operations said in Horizen HDE.

**First, I downloaded and installed the sphere wallet for testnet.**

![1](https://user-images.githubusercontent.com/98349988/168163588-8fcc9ff2-2f82-4f95-953d-939686fdff57.png)

**I downloaded the cobalt wallet testnet.**

![image](https://user-images.githubusercontent.com/98349988/168163905-fe4fd436-aa9b-43b6-a

[2022-05-12 21:46] thatoneguy55 commented on #51
The time allotted has been more than generous id say!   I'm assuming at least 1 spot will open, what is the process/payout timeline after that?   Thanks again, rough week!

[2022-05-13 04:39] moneygo80 commented on #51
I think this test is partly unfair and calling it an airdrop is not correct. It was necessary to immediately write how many places were allocated for this test. It turns out that you developers got what they wanted, a lot of people responded to your test, did a small test for you, and in the end only ten people received rewards. Why then go to a mass test if you pay only to a small circle of peopl

[2022-05-13 05:15] thatoneguy55 commented on #51
It literally states it in bold on the original post, which obviously wasn't read.

[2022-05-13 07:08] bngdhln commented on #51
Some Feedback:
First~Fifth step : It was transmitted relatively quickly.
Last step : In Cobalt, it says transmission complete. However, the results are not yet available in Test Spear. It looks like it's gonna take a while.
In addition, I felt that the transmission speed was somewhat slow as the number of people increased while doing this work with the community people.
In Cobalt, after sending th

[2022-05-13 07:08] bngdhln commented on #51
yes

[2022-05-13 07:17] Ihwan20 commented on #51
Some Feedback:
First~Fifth step : It was transmitted relatively quickly.
Last step : In Cobalt, it says transmission complete. However, the results are not yet available in Test Spear. It looks like it's gonna take a while.
In addition, I felt that the transmission speed was somewhat slow as the number of people increased while doing this work with the community people.
In Cobalt, after sending th

[2022-05-13 07:18] Ihwan20 commented on #51
I have completed the process for this task. Here is the log of my transactions:

Downloaded and installed the testnet version of Sphere from https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet
Obtained some testnet $TZEN from the testnet faucet. Testnet faucet transaction id (txid) https://explorer-testnet.horizen.io/tx/b0b914811ffae1d2d1d689ce7ffd

[2022-05-13 07:21] Glaciers6789 commented on #51
submission 1 : Make a Forward transfer of tZEN from Sphere by Horizen Testnet to Cobalt - correct sidechain ID in Sphere by Horizen Testnet is 05612f21...7450f3d1 Transaction

[](https://explorer-testnet.horizen.io/tx/996fc5594338b891b1ea35f52bb0af28f32e616f90033616837076a554b72788)

submission 2 : Transfer 1 TZNY from Cobalt wallet to this address: e259c170f497cb266021d91b7eca983bf5bb32e8125c1fe2

[2022-05-13 09:49] SolomonViktor commented on #36
I too want to translate

[2022-05-13 13:02] velovelo commented on #51
hello sir @PowerVANO here is my submissions , you can check it.
[horizen test.txt](https://github.com/HorizenOfficial/HDE-Proposals/files/8687266/horizen.test.txt)

[2022-05-13 13:18] ckptw555 commented on #51
helo dude

pls,check my
[testnet horizen.txt](https://github.com/HorizenOfficial/HDE-Proposals/files/8688150/testnet.horizen.txt)
 submission

[2022-05-13 20:12] thatoneguy55 commented on #51
wen distribution ?  :P

[2022-05-14 01:37] dongonzalo commented on #51
@PowerVANO I would like to participate. Required steps attached here:
[Zen HDE51.txt](https://github.com/HorizenOfficial/HDE-Proposals/files/8691947/Zen.HDE51.txt)

[2022-05-14 01:47] dongonzalo commented on #51
@PowerVANO I would like to participate. Required steps attached here:
[Zen HDE51.txt](https://github.com/HorizenOfficial/HDE-Proposals/files/8691958/Zen.HDE51.txt)

[2022-05-14 07:44] Mateo1234454545 commented on #51
Discord : matgx#3281

1) get testnet ZEN from the HEAP Portal :  transfer OK. took about 8minutes

transaction id : 0328956edf3cbf31d0bb5ee1bf3b406be1bdcce06f0ee8dff556063a8eabb4c4
https://explorer-testnet.horizen.io/tx/0328956edf3cbf31d0bb5ee1bf3b406be1bdcce06f0ee8dff556063a8eabb4c4

2) Forward transfer of tZEN from Sphere by Horizen Testnet to Cobalt : transfer OK. Took 5 minutes.

transaction i

[2022-05-14 12:18] sibnia commented on #51
![1](https://user-images.githubusercontent.com/17837055/168425156-73a9a4f9-8faa-4549-bd71-77c734c60856.png)
![2](https://user-images.githubusercontent.com/17837055/168425194-b2751390-d154-4bd2-b612-ff2bd0a705f1.png)
ztbTEKvcH3nWF9sTpStJQ66c39dJJKphVAd
![3](https://user-images.githubusercontent.com/17837055/168425218-8d3427a0-a235-435e-b06c-e0dfa91d3714.png)
https://explorer-testnet.horizen.io/tx/b

[2022-05-14 20:18] Axialis7 commented on #51
Zen wallet for reward: znRFjuvdBL1Q3FvdcWV5fbgbD9yLrmWzFb3
Discord name Axialis#2401

- horizen: easy install of sphere
- easy install cobalt web wallet (had to install chrome first)
- easy cobalt wallet creation, backing up phrase, en testnet zen receival
- got testnet zen tx a416a08c54f2754959969ee708df77088ae7e819ccfbd044d96444d428e299b1
--- https://explorer-testnet.horizen.io/tx/a416a08c54f275

[2022-05-14 21:29] thatoneguy55 commented on #51
Should probably wrap this up so that people who aren't in the 10 stop putting time into it  ;)

[2022-05-15 03:02] jackov8691 commented on #51
Hi @PowerVANO

I would like to particpate.

DISCORD USERNAME:                 jackov#8691
ZEN wallet address for reward:   znooNTQ6hNChdNXJFRDF5hJGT7vqQv3w3t9

Here is my submission:

[https://docs.google.com/document/d/1ElTePQfFZOUuSlyfhFE1DaWNNKz0GtsvdyB-B4zsoag/edit?usp=sharing](url)

[2022-05-15 05:31] rynboyz99 commented on #51
hi, @PowerVANO
here is my log transaction ,submissions.
[log transaction & submissions.txt](https://github.com/HorizenOfficial/HDE-Proposals/files/8694360/log.transaction.submissions.txt)

[2022-05-15 05:36] bangjagoo commented on #51
please check my submissions sir @PowerVANO , thank you
[submission.txt](https://github.com/HorizenOfficial/HDE-Proposals/files/8694369/submission.txt)

[2022-05-15 05:50] ntazzz commented on #51
here is my submissions

[log transaction.txt](https://github.com/HorizenOfficial/HDE-Proposals/files/8694386/log.transaction.txt)

[2022-05-15 05:57] bangckptw129 commented on #51
Here is the log of my transactions:

Testnet faucet transaction id (txid) https://explorer-testnet.horizen.io/tx/ce4ccdde8396b552c098f55c73872f7487622df358a35442322e92572c5cc0ac

Sent 1 ZEN to sidechain address
Transaction type: sidechain FW transfer
Transaction ID: https://explorer-testnet.horizen.io/tx/ac711fa1811c59b17373bbab88d8950efa7773aaa217d3cc1ba786e20dd15889

Sent 1 TZNY from Cobalt wall

[2022-05-15 06:02] berukpesek commented on #51
hello @PowerVANO

this my submissions
[submissions by icecool#8719.txt](https://github.com/HorizenOfficial/HDE-Proposals/files/8694397/submissions.by.icecool.8719.txt)

[2022-05-15 06:05] tuyulpuki commented on #51
this my log transaction

discord : pabloxxx#1081
TX ID faucet tZEN : https://explorer-testnet.horizen.io/tx/87ef8df59531f579a27770d6150b959496a0ef7f076cba7b646a773b3273a4a9
TX ID sphere to cobalt wallet : https://explorer-testnet.horizen.io/tx/0e1dc55c7ee1efef6c075849e38ec4574a31f56d01fdf6cefa09c945962d02ad
TX ID transfer 1 TZNY from cobalt wallet  to e259c170f497cb266021d91b7eca983bf5bb32e8125c1f

[2022-05-15 06:09] perssikk commented on #51
check my submision please
[submisions.txt](https://github.com/HorizenOfficial/HDE-Proposals/files/8694405/submisions.txt)

[2022-05-15 06:29] thatoneguy55 commented on #51
Its over, not sure why you guys are wasting your time

[2022-05-15 09:26] Axialis7 commented on #51
In the top right it says open in green. That is actually quite misleading

[2022-05-16 05:13] PowerVANO commented on #51
Hi Everyone!

Again, thanks for posting more reports - unfortunately we only had 10 slots, so you will not be paid.
But as long as you want to test the software and provide feedback, we are happy for that!

Updating our status so far -  I have an electricity outage, but will be checking everything today and providing feedback.

These are first-10 who stated their wish to participate:

**Checked an

[2022-05-16 10:21] iantheitguy commented on #51
@PowerVANO submit a bounty claim (button at the end of the page how do you do that.?

CLAIM YOUR BOUNTY https://hde.horizen.io/account/claim-bounty   Enter Issue Number  Enter pull request number?

[2022-05-16 10:22] PowerVANO commented on #51
Yes, that works fine @iantheitguy

[2022-05-16 10:42] PowerVANO commented on #51
Hi Everyone!

Again, thanks for posting more reports - unfortunately we only had 10 slots, so you will not be paid.
But as long as you want to test the software and provide feedback, we are happy for that!

Updating our status so far -  I have an electricity outage, but will be checking everything today and providing feedback.

These are first-10 who stated their wish to participate:

**Checked an

[2022-05-16 10:42] tolgagurlu commented on #51
@PowerVANO  Do you mind if I update it in a few hours? I am working now

[2022-05-16 10:43] PowerVANO commented on #51
Yes, no problem @tolgagurlu

[2022-05-16 10:45] cryptochris123 commented on #51
Done submitting a bounty claim. used #51 as both the pull request number and issue #. Thanks :)

[2022-05-16 10:50] iantheitguy commented on #51
https://hde.horizen.io/account/claim-bounty send a request did not setup pull request. hope I did it right thanks for the  opportunity to test this network love to help more going forwards with my skill set. @PowerVANO

[2022-05-16 14:59] toyotheophilus commented on #51
My submission, contains TokenMint. block Explorer feedback.

[2022-05-16 16:17] tolgagurlu commented on #51
@PowerVANO Hi, I updated as you wrote. https://github.com/HorizenOfficial/HDE-Proposals/issues/62

[2022-05-16 19:32] PowerVANO commented on #51
@tolgagurlu - Thanks for adding the feedback. Your backward transfer link is for a different address though ztVFeuGaqcRFprfFeMKhuC3BDWpN6eK2hr5 instead of ztg2HGFtJRXTFwYZp3zRLCaHgbG5dRdjts1 I think. Can you please check and correct?

@thatoneguy55 - Thanks! All good! Please go to https://hde.horizen.io/account and submit a bounty claim (button at the end of the page).

@toyotheophilus - Can you p

[2022-05-16 19:49] tolgagurlu commented on #51
@PowerVANO ztVFeuGaqcRFprfFeMKhuC3BDWpN6eK2hr5 I have attached the link of this address. Did you check it, sir?

[2022-05-16 22:17] toyotheophilus commented on #51
Please confirm if it is okay now, i have added a line for feedback.

Thanks

[2022-05-17 07:23] sibnia commented on #51
@PowerVANO what awaits participants in terms of remuneration who do not finish in the top ten. Any work must be paid for. Thank you.

[2022-05-17 19:43] PowerVANO commented on #51
@tolgagurlu - Thanks! All good! Please go to https://hde.horizen.io/account and submit a bounty claim (button at the end of the page).

@thatoneguy55 - Thanks! All good! Please go to https://hde.horizen.io/account and submit a bounty claim (button at the end of the page).

@toyotheophilus - Thanks! All good! Please go to https://hde.horizen.io/account and submit a bounty claim (button at the end o

[2022-05-17 19:59] thatoneguy55 commented on #51
HI, I filled it out with all the info and it showed as if the bounty was requested, saying "it will email me either for more information or with confirmation of payment".   Should I re-request?  Also, what is the general time frame for distribution after this is ironed out?  Thank you sir.

[2022-05-17 21:43] testmyluck commented on #51
all task done sir
https://explorer-testnet.horizen.io/tx/08c64321bf3ad29a8fe250a5b1e1c16f8b60607444eeed05092deb3ef7b3388d

https://explorer-testnet.tokenmint.global/tx/c1a1d3c998988cd44196beb6f3057ffb0cea9e3e7eeb9eb9dd0f6eccdb31e371

![1](https://user-images.githubusercontent.com/86394606/168914928-d6d9e776-9875-4332-93ed-7041ebca5b25.PNG)
![2](https://user-images.githubusercontent.com/86394606/16

[2022-05-17 21:53] toyotheophilus commented on #51
Please i am not to familiar with horizon hde portal. What are the Issue Number and Pull Request Number to input?

[2022-05-18 09:17] PowerVANO commented on #51
@toyotheophilus Issue number is 51 (you can always find that in the title of the first post) and you can leave Pull Request Number empty.

[2022-05-18 09:18] PowerVANO commented on #51
Several days generally, depending on the workload of our finance team.

[2022-05-18 09:20] PowerVANO commented on #51
Unfortunately, we cannot pay everyone - it was stated in the terms from the beginning that only first 10 would be paid. We will have more tasks, including for testing our upcoming Token Generator (to create new tokens) very soon with more availability.

[2022-05-18 10:47] PowerVANO commented on #51
Doing a status update:

**Checked and complete:**

1. @psyraxaus - Complete. Payment submitted for processing.
Active report: https://github.com/HorizenOfficial/HDE-Proposals/issues/51#issuecomment-1120119914
2. @infinitEnigma - Complete. Payment submitted for processing.
Active report: https://github.com/infinitEnigma/HDE-Proposals/blob/tokenmint-test/Test-tokenmint_report.md
3. @iantheitguy - Co

[2022-05-18 10:55] #62 closed

[2022-05-18 10:55] #58 closed

[2022-05-18 10:55] #59 closed

[2022-05-18 11:01] #60 closed

[2022-05-18 11:01] #56 closed

[2022-05-18 11:02] #55 closed

[2022-05-18 11:02] #61 closed

[2022-05-18 11:03] PowerVANO commented on #51
@tolgagurlu I see two payment claims for you with two different ZEN addresses. I am going to use the original one with znWWJcCcEyncscktMzo4MT4kFfrvwoKnwnV (the one you posted here in your report as well). Is that fine?

[2022-05-18 11:39] tolgagurlu commented on #51
@PowerVANO znV8pxUtNMJ7XLfDMtEHG1SWpPRATLrh14t can you send it here

[2022-05-18 17:42] PowerVANO commented on #51
@tolgagurlu thanks for confirming, I will update the internal doc.

[2022-05-19 04:40] dmscos4 commented on #51
@PowerVANO Can u check it? Here it is
[Tzny.feedback.final.txt](https://github.com/HorizenOfficial/HDE-Proposals/files/8723920/Tzny.feedback.final.txt)
![Tzen](https://user-images.githubusercontent.com/11360478/169206382-7f92ead9-ec72-4378-98f7-5e044f38d199.png)

[2022-05-19 13:30] PowerVANO commented on #51
@dmscos4 - Thanks! All good! Please go to https://hde.horizen.io/account and submit a bounty claim (button at the end of the page).

[2022-05-19 13:47] PowerVANO commented on #51
Doing a status update:

**Checked and complete:**

1. @psyraxaus - Complete. Payment submitted for processing.
Active report: https://github.com/HorizenOfficial/HDE-Proposals/issues/51#issuecomment-1120119914
2. @infinitEnigma - Complete. Payment submitted for processing.
Active report: https://github.com/infinitEnigma/HDE-Proposals/blob/tokenmint-test/Test-tokenmint_report.md
3. @iantheitguy - Co

[2022-05-19 14:59] bonsung commented on #51
Task Log

I have completed the process for this task. Here is the log of my transactions:
1. Downloaded and installed the testnet version of Sphere from https://github.com/HorizenOfficial/Sphere_by_Horizen_Testnet/releases/tag/desktop-v1.3.0-beta-testnet
2. Obtained 12 testnet $TZEN from the testnet faucet. Testnet faucet transaction id (txid) https://explorer-testnet.horizen.io/tx/c45754c7dade1a6

[2022-05-19 15:30] PowerVANO commented on #51
@bonsung Thank you, but we still need a backward transfer TX link from https://explorer-testnet.horizen.io/

[2022-05-19 15:33] dmscos4 commented on #51
@PowerVANO I claimed the bounty!

[2022-05-19 15:51] bonsung commented on #51
Finally, I complished and edited above. tks.

[2022-05-19 17:06] PowerVANO commented on #51
@bonsung - Thanks! All good! Please go to https://hde.horizen.io/account and submit a bounty claim (button at the end of the page).

[2022-05-19 18:32] PowerVANO opened #64 "Create Your Own Token on Horizen’s TokenMint Platform"
**Goals:**

Create your own token on Horizen’s new TokenMint Platform and document steps/findings using the [Google Docs template](https://docs.google.com/document/d/1iMeI4UXitcoNHe-5-JJAMKdcUnh5A8ywNb83ypcD6Wc/edit?usp=sharing) **(Please note, that you are doing tests on testnet. Tokens created/found there have no monetary value).**

**Scope of work:**

- Setup your wallet and environment as per

[2022-05-19 20:37] nikvladan commented on #64
https://docs.google.com/document/d/e/2PACX-1vS0wsTO92KqYDA5xBuJhbA8PeRIx9UHoWJ3Zj05ZT6c5UJW2P1ooJ6lFHU-T9o7L7rtXtNtWuvRjbGG/pub

[2022-05-19 21:29] Gruyerman commented on #64
https://docs.google.com/document/d/1F8NcZEJSR9HlZzTU06jlYsr42sMe6o4-NgX0OLYZCbk/

[2022-05-19 21:30] cryptochris123 commented on #64
Can I join this?

[2022-05-19 22:02] infinitEnigma commented on #64
https://docs.google.com/document/d/11h4CW_rIiiy8d0Sbhrzqs8Xp5fYs_4oih7So0s_aWjc/edit?usp=sharing

[2022-05-19 22:04] psyraxaus commented on #64
I would like to participate in this task please

[2022-05-19 22:49] tolgagurlu commented on #64
It was fun, I think I completed everything.

https://docs.google.com/document/d/1F56K2I4v6Qf8CQuMJjtWqq8-Ju8rgiXafVfyxyt-dro/edit?usp=sharing

[2022-05-19 23:21] psyraxaus commented on #64
That was a lot of fun
https://docs.google.com/document/d/1nRVVUs3YwLhKyqkEwaZbT1NygLDsQdupJhgOK7VayUE/edit?usp=sharing

[2022-05-20 02:46] bonsung commented on #51
I linked  https://hde.horizen.io/account and then I am lost how to claim bounty^^

[2022-05-20 03:06] SirLRonHODLer commented on #64
https://docs.google.com/document/d/1CXI9F_H35MSKHWchyWp3zKdB39QyZC6syj0oIEwLPmA/edit?usp=sharing

[2022-05-20 03:25] dmscos4 commented on #64
I want to join this!

[2022-05-20 05:09] PowerVANO commented on #64
@dmscos4 please do the report - no need to wait for my confirmation on this to join.

Everyone, thanks for the activity! I will be looking at your reports shortly!

[2022-05-20 06:14] magpie17 commented on #64
I wish to participate in this task, attached is the link to to the testing I performed. https://docs.google.com/document/d/1GA0BivHRJIJgCwK02AHgLpP64nBgKgn0Npin39YHj40/edit?usp=sharing

[2022-05-20 06:54] PowerVANO commented on #9
@Sam-Steel55

@Horusfeathers approved your work and you have been paid.

[2022-05-20 10:07] PowerVANO commented on #51
Doing a status update:

**Checked and complete:**

1. @psyraxaus - Completed. Paid.
Active report: https://github.com/HorizenOfficial/HDE-Proposals/issues/51#issuecomment-1120119914
2. @infinitEnigma - Completed. Paid.
Active report: https://github.com/infinitEnigma/HDE-Proposals/blob/tokenmint-test/Test-tokenmint_report.md
3. @iantheitguy - Completed. Paid.
Active report: https://github.com/Horiz

[2022-05-20 10:32] tusharkhatri commented on #64
https://docs.google.com/document/d/1YV8SI-c5A4a17ecVxWaYdBSuoNIM1MiQRvjK8HL7P5A/edit

[2022-05-20 11:04] PowerVANO commented on #64
**Checked and complete:**

1. @nikvladan - Thanks! All good! Please go to https://hde.horizen.io/account and submit a bounty claim (button at the end of the page).
Active report: https://docs.google.com/document/d/e/2PACX-1vS0wsTO92KqYDA5xBuJhbA8PeRIx9UHoWJ3Zj05ZT6c5UJW2P1ooJ6lFHU-T9o7L7rtXtNtWuvRjbGG/pub
2. @Gruyerman - Thanks! All good! Please go to https://hde.horizen.io/account and submit a bo

[2022-05-20 11:09] tusharkhatri commented on #64
@PowerVANO Updated now https://docs.google.com/document/d/1YV8SI-c5A4a17ecVxWaYdBSuoNIM1MiQRvjK8HL7P5A/edit

[2022-05-20 11:17] PowerVANO commented on #64
@tusharkhatri Thanks! You current report is invalidated though - it is missing the token Creation TX (you have the same link for Mint and Creation TXs). Please update the report and resubmit in a new post here.

For clarity - you do not need to create a new doc. Just update the current doc but paste a link again in a new post here.

[2022-05-20 11:27] tusharkhatri commented on #64
Sorry, found the transaction ID via block explorer for token creation, the wallet only shows mint transaction but not token creation tx, two times 0.42 Tzen deducted, and wallet activity shows only once.

[2022-05-20 11:40] cryptochris123 commented on #64
Thanks. Just posted a claim bounty :)

[2022-05-20 11:47] nanyin1 commented on #64
https://docs.google.com/document/d/1cRafmAk4cirmUsefAWko_pdSaUqNkziGWp2BLEdeDl8/edit

[2022-05-20 12:45] #9 closed

[2022-05-20 12:45] dasvobodada commented on #64
https://docs.google.com/document/d/1oowg8GT4D_xHIEMnJ-zHlN5zuccJ11srI0t5R6PIeqY/edit?usp=sharing

[2022-05-20 13:19] mmohit00007 commented on #64
https://docs.google.com/document/d/1chDkb4hGcWYAGYqAEitgXv7fVUDDRU24ic01S4EKAiQ/edit?usp=sharing

[2022-05-20 15:00] PereMandril commented on #64
https://docs.google.com/document/d/1K5Qs_9CM630rn7qAHLmJotnko8c-TMVSeTU8Hfg_g9Y/edit?usp=sharing

[2022-05-20 15:16] MataNomada commented on #64
https://docs.google.com/document/d/1JzdBYP6ncdpe3Jvrjh7heJCwy_OO67vI3JALEVUcySI/edit?usp=sharing

[2022-05-20 15:30] PowerVANO commented on #51
Doing a status update:

**Checked and complete:**

1. @psyraxaus - Completed. Paid.
Active report: https://github.com/HorizenOfficial/HDE-Proposals/issues/51#issuecomment-1120119914
2. @infinitEnigma - Completed. Paid.
Active report: https://github.com/infinitEnigma/HDE-Proposals/blob/tokenmint-test/Test-tokenmint_report.md
3. @iantheitguy - Completed. Paid.
Active report: https://github.com/Horiz

[2022-05-20 16:31] #52 closed

[2022-05-20 16:33] PowerVANO opened #65 "Ambassador Task: Write an opinion article or blog about your experience creating a token on TokenMint on testnet"
**Scope of work:**

This article can be any length but must cover:
- What is TokenMint
- How to get test TZEN
- How to get Testnet Sphere wallet and Testnet Cobalt wallet
- Where to find documentation and resources
- The steps required to create a token

**Schedule Milestones:**

This task may only be completed by an official Horizen Ambassador or pre-approved person. For the task to be considered

[2022-05-20 16:35] PowerVANO opened #66 "Ambassador Task: Create a video about your experience creating a token on TokenMint on testnet"
**Scope of work:**

This video should be no longer than 5 minutes but must cover:
- What is TokenMint
- How to get test TZEN
- How to get Testnet Sphere wallet and Testnet Cobalt wallet
- Where to find documentation and resources
- The steps required to create a token

**Schedule Milestones:**

This task may only be completed by an official Horizen Ambassador or pre-approved person. For the task t

[2022-05-21 01:51] bonsung commented on #64
task log
	1.
link to token creation transaction: https://explorer-testnet.tokenmint.global/tx/13451d3692df329e27c46e1f261d375474f59cd275c5c416f67bce0e460ee064
	2.
link to token mint transaction: https://explorer-testnet.tokenmint.global/tx/ef7d767dfcd75977e98c5e8cdbd260d477742ce8bcdf8fcb7970e56e45d4470f
	3.
UUI(Unique ID) of your token: 2008af11cf8298f63d1a2ccd1da2d9bcf8bba0bce584beee99c34e0007eea

[2022-05-21 02:02] luisantoniocrag commented on #41
Hi @PowerVANO,@Horusfeathers, sorry for the long delay. Now I'm back from my big rest LoL. May I still take this task? I hope to finish it next week.

[2022-05-21 04:30] beksl commented on #64
I finished the task:
https://docs.google.com/document/d/1OOe9lY4qlV771pNVH8SOtYpgK8LES8Eg1Yx8aHqwm4A/edit?usp=sharing

[2022-05-21 06:11] BluePunkrocker commented on #64
Finished!!! I really hope I made it in time!!!

https://docs.google.com/document/d/1fJ47ii4NbDVYxv4rg9l9rKhx9HWCEHlEHo9PUlA4xdw/edit?usp=sharing

[2022-05-21 07:04] dhxhzoem5 commented on #53
I read the e-mail
​
-----Original Message-----
From: ***@***.***>
To: ***@***.***>;
Cc: ***@***.***>; ***@***.***>;
Sent: 2022-05-21 (토) 01:31:51 (GMT+09:00)
Subject: Re: [HorizenOfficial/HDE-Proposals] ### **Submission Form** (Issue #53)

Closed #53 as completed.
—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: *

[2022-05-21 07:41] dmscos4 commented on #64
Finally done.
https://docs.google.com/document/d/1B9lcA5Tv1IXR2SsfbiJZiNxkdwddWVQeephMiIsnbKA/edit?usp=sharing

[2022-05-21 10:39] mahnoor089 commented on #64
@Pow

@PowerVANO can you please tell us what is the pull request number?

[2022-05-21 18:22] Timmyride commented on #64
I hope I'm not too late
(https://docs.google.com/document/d/1UANtXUljrfo4WMywDro_h9EjnR0sK4ezFimm06pqmg8/edit?usp=drivesdk)

[2022-05-21 18:33] astroeng925 commented on #64
I saw Twitter and wrote it right away. I think this should be acknowledged!!
https://docs.google.com/document/d/19UY_9Ie2-HtFXwNd8WIhUZGdCj6l2VUExylNf4FYiOg/edit?usp=sharing

[2022-05-21 19:22] NuzziMase commented on #64
Keep up the good work team 👍
https://docs.google.com/document/d/1xBvPcPM7K3ttrdVBksUNIFd-mTYQMsfROSIPTwNKCd4/edit?usp=drivesdk

[2022-05-21 19:31] leepai2015 commented on #64
Well done Team. I can imagine the amount of development involved in this and the timeline to finish the development is outstanding

https://docs.google.com/document/d/1JpugUg7ait87dVVxt_z0lA-5eqvSDvxp0DV03MwgoJ8/edit?usp=sharing

[2022-05-21 22:07] jambulmerah commented on #64
I hope I don't miss it again, here's my report thank you😌

https://docs.google.com/document/d/1aGNrAntybDLJYjw0-jrhKM7z5nXmEeutiFe2rwUBZ5M/edit?usp=drivesdk

[2022-05-21 23:38] jaewkim00 commented on #64
https://docs.google.com/document/d/1CjsObwkjxWDlUVfgA1eBYIlJsuO8R63jvtebgvkGfBU/edit?usp=sharing

[2022-05-22 04:00] luckychacha commented on #64
https://docs.google.com/document/d/1PBu1Jf2rv5n5n-693IBMiVMfNe-jK_mSUb-njK4SeHc/edit

[2022-05-22 05:05] monahk009 commented on #64
https://docs.google.com/document/d/1zbUvdbChC8nCtHL0cRoPnSPHcKVxzlHbx20OmqOazfI/edit?usp=sharing

[2022-05-22 07:40] mahnoor089 commented on #51
I hope I have completed all the steps.
Good luck
https://docs.google.com/document/d/1XVSN1rD_USbDspYp6U7YjhIc6a7yeBIkxDgP__1slQg/edit?usp=drivesdk

[2022-05-22 07:54] iantheitguy commented on #64
do I have time to do that task?

[2022-05-22 07:59] PowerVANO commented on #51
Doing a status update:

**Checked and complete:**

1. @psyraxaus - Completed. Paid.
Active report: https://github.com/HorizenOfficial/HDE-Proposals/issues/51#issuecomment-1120119914
2. @infinitEnigma - Completed. Paid.
Active report: https://github.com/infinitEnigma/HDE-Proposals/blob/tokenmint-test/Test-tokenmint_report.md
3. @iantheitguy - Completed. Paid.
Active report: https://github.com/Horiz

[2022-05-22 08:02] PowerVANO commented on #51
Thank you very much for the report and feedback. Slots are no longer available for this task though. We have only 1 slot left and there is a pretty good chance there will be at least 1 good report. I still have around 30 reports left in the queue.

[2022-05-22 08:10] mahnoor089 commented on #51
I feel proud for the overwhelming response of the community.

[2022-05-22 10:39] NuzziMase commented on #64
@PowerVANO thumb 👎 emjoi? I have updated my token mint explorer link. Please check

[2022-05-22 10:52] PowerVANO commented on #64
**Checked and complete:**

1. @nikvladan - Thanks! All good! Please go to https://hde.horizen.io/account and submit a bounty claim (button at the end of the page).
Active report: https://docs.google.com/document/d/e/2PACX-1vS0wsTO92KqYDA5xBuJhbA8PeRIx9UHoWJ3Zj05ZT6c5UJW2P1ooJ6lFHU-T9o7L7rtXtNtWuvRjbGG/pub
2. @Gruyerman - Thanks! All good! Please go to https://hde.horizen.io/account and submit a bo

[2022-05-22 10:55] NuzziMase commented on #64
Hey @PowerVANO when I saw 👎 emoji I came to know something is wrong I checked and the token mint transaction link was not correct so I corrected it again.
Please consider my request and check again.
Thank you .

[2022-05-22 11:36] DrrStrange commented on #64
Yeeewww, I started contributing in Horizen GitHub.
Please accept my hard work.
https://docs.google.com/document/d/1_x9V8w9P9mFtQDsvABQBbdHV_Hn7wTlBlMZZuCRmwmc/edit?usp=drivesdk

[2022-05-22 11:48] iantheitguy commented on #64
https://docs.google.com/document/d/1xeq8XPLrCanCcFdNJI95Qe77FV1iqNztpEYfSvt1tEI/edit?usp=sharing

[2022-05-22 12:16] jambulmerah commented on #64
Hey @PowerVANO thank you for giving me a chance by adding 5 slots,
this is my re-report by adding feedback on testnet sphere

https://docs.google.com/document/d/1aGNrAntybDLJYjw0-jrhKM7z5nXmEeutiFe2rwUBZ5M/edit?usp=drivesdk

[2022-05-22 12:22] mahnoor089 commented on #65
Hello :)
I'm interested in unleashing more about TokenMint and guide new users.
I would like to prepare an article which briefly explain all the factors mentioned in the issue field.
Kindly let me know if I'm eligible to work on this.

[2022-05-22 12:25] thatoneguy55 commented on #64
In

https://docs.google.com/document/d/1ZyN4Oq_mu9FQlvZcliczRcytvMoPsjFnPBO-NRaWMq8/edit?usp=sharing

[2022-05-22 12:33] PowerVANO commented on #64
**Checked and complete:**

1. @nikvladan - Thanks! All good! Please go to https://hde.horizen.io/account and submit a bounty claim (button at the end of the page).
Active report: https://docs.google.com/document/d/e/2PACX-1vS0wsTO92KqYDA5xBuJhbA8PeRIx9UHoWJ3Zj05ZT6c5UJW2P1ooJ6lFHU-T9o7L7rtXtNtWuvRjbGG/pub
2. @Gruyerman - Thanks! All good! Please go to https://hde.horizen.io/account and submit a bo

[2022-05-22 12:34] PowerVANO commented on #64
We have only 1 slot left for this task. Please note, that the next correct report will complete the task and no more will be accepted for payments.

[2022-05-22 12:47] PowerVANO commented on #64
**Checked and complete:**

1. @nikvladan - Thanks! All good! Please go to https://hde.horizen.io/account and submit a bounty claim (button at the end of the page).
Active report: https://docs.google.com/document/d/e/2PACX-1vS0wsTO92KqYDA5xBuJhbA8PeRIx9UHoWJ3Zj05ZT6c5UJW2P1ooJ6lFHU-T9o7L7rtXtNtWuvRjbGG/pub
2. @Gruyerman - Thanks! All good! Please go to https://hde.horizen.io/account and submit a bo

[2022-05-22 12:47] PowerVANO commented on #64
Thank you everyone! We have 25 participants already who provided complete reports and will be paid.

For those who missed your chance - we will have more tasks in the future!

[2022-05-22 12:50] thatoneguy55 commented on #64
Submitted 2 bounty requests, the first one had a different email than I use for github, I apologize.  Correct one has dbarns999@gmail.com  thank you

[2022-05-22 12:54] bonsung commented on #64
Updated again!!

[2022-05-22 13:19] iantheitguy commented on #64
https://docs.google.com/document/d/1xeq8XPLrCanCcFdNJI95Qe77FV1iqNztpEYfSvt1tEI/edit?usp=sharing I updated my error hope I done it right now.

[2022-05-22 15:07] luckychacha commented on #64
Hello, @PowerVANO , I finished task and I saw thumbs up emoji on my comment. Is there anything wrong or  invalidate in my comment?

https://github.com/HorizenOfficial/HDE-Proposals/issues/64#issuecomment-1133813453

[2022-05-22 15:19] VladiComescu commented on #64
#ZENFrens,

My comments below.

Cheers

1. Download and install Sphere by Horizen Testnet as per TokenMint blog post.

- Very intuitive and fast, it takes less than 3 minutes downloading & installation (I did it on my 12 years old mac).

2. Create a new wallet in Sphere by Horizen Testnet and get testnet ZEN from the HEAP Portal.

- I didn't have any issue creating my wallet and faucet is fast. Th

[2022-05-22 15:27] BluePunkrocker commented on #64
Good to know what I did wrong. This was my first task ever but definitely not my last. Sent from my T-Mobile 5G Device
-------- Original message --------From: PowerVANO ***@***.***> Date: 5/22/22  5:34 AM  (GMT-08:00) To: HorizenOfficial/HDE-Proposals ***@***.***> Cc: BluePunkrocker ***@***.***>, Mention ***@***.***> Subject: Re: [HorizenOfficial/HDE-Proposals] Create Your Own Token on Horizen’s T

[2022-05-22 17:41] chico5544 commented on #64
https://docs.google.com/document/d/1p3DBR5lZY2xxcAuFPFrn9PGyylkWmHBM3KNpskbsXZs/edit?usp=sharing

[2022-05-22 23:07] toyotheophilus commented on #64
Is the activity still open? I would like to participate.

[2022-05-23 00:00] toyotheophilus commented on #64
https://docs.google.com/document/d/1UZQ3va7XL8OhQmZFvyZikEqKTxUNclDpOhFTabxHQ9M/edit?usp=sharing

[2022-05-23 02:09] mmsky76 commented on #64
https://docs.google.com/document/d/e/2PACX-1vQaRYvHIg6uuVSR9mnnEFJy8x2r9OjcqQRbgFYiZ2kfioPHb1BcZC7EJAoeasUtAqSJivjrkpBa1G8n/pub

[2022-05-23 10:56] PowerVANO commented on #64
**Checked and complete:**

1. @nikvladan - Thanks! All good! Please go to https://hde.horizen.io/account and submit a bounty claim (button at the end of the page).
Active report: https://docs.google.com/document/d/e/2PACX-1vS0wsTO92KqYDA5xBuJhbA8PeRIx9UHoWJ3Zj05ZT6c5UJW2P1ooJ6lFHU-T9o7L7rtXtNtWuvRjbGG/pub

2. @Gruyerman - Payment claim submitted.
Active report: https://docs.google.com/document/d/1

[2022-05-23 11:10] PowerVANO commented on #51
@magpie17 - please update the submission to include the updated last step mentioned in the first post (backward transfer TX link from Horizen testnet block explorer.
Also, please clean up the formatting of your submission - it has additional characters, likely from some kind of text editor.
You have 24 hours to get back to us, until 11:15 AM UTC May 24.
Active report: https://github.com/HorizenOff

[2022-05-23 13:29] magpie17 commented on #51
@PowerVANO I have updated my submission and cleaned up the formatting issues. Please check and advise if it is now acceptable. https://docs.google.com/document/d/1iQNOWrtJh2OkGkHHwQr2rx8lqePapM3_tWWTrhEssms/edit?usp=sharing

[2022-05-23 15:35] toyotheophilus commented on #64
Hmmm, I missed the opportunity on this time task..

[2022-05-23 15:50] lukmonforreal commented on #64
@PowerVANO, this is my task submission:
 https://docs.google.com/document/d/1lLi1jlQZFa-Gd64XHVhMpz_9j2GBZyc1/edit?usp=sharing&ouid=110852580043572061628&rtpof=true&sd=true

[2022-05-23 17:46] PowerVANO commented on #64
Great to hear that! Looking forward to your participation in our future tasks!

[2022-05-23 17:47] PowerVANO commented on #64
Yes, unfortunately we are all full on this task already.

@lukmonforreal same, unfortunately, we are not accepting new entries on this task.

[2022-05-23 19:05] PowerVANO commented on #64
**Checked and complete:**

1. @nikvladan - Payment claim submitted.
Active report: https://docs.google.com/document/d/e/2PACX-1vS0wsTO92KqYDA5xBuJhbA8PeRIx9UHoWJ3Zj05ZT6c5UJW2P1ooJ6lFHU-T9o7L7rtXtNtWuvRjbGG/pub
2. @Gruyerman - Payment claim submitted.
Active report: https://docs.google.com/document/d/1F8NcZEJSR9HlZzTU06jlYsr42sMe6o4-NgX0OLYZCbk/
3. @infinitEnigma - Payment claim submitted.
Active

[2022-05-24 17:20] PowerVANO commented on #51
Doing a status update:

**Checked and complete:**

1. @psyraxaus - Completed. Paid.
Active report: https://github.com/HorizenOfficial/HDE-Proposals/issues/51#issuecomment-1120119914
2. @infinitEnigma - Completed. Paid.
Active report: https://github.com/infinitEnigma/HDE-Proposals/blob/tokenmint-test/Test-tokenmint_report.md
3. @iantheitguy - Completed. Paid.
Active report: https://github.com/Horiz

[2022-05-24 18:44] deztas1 commented on #41
Hola @Varshans2 , puedo hacer esta tarea?

[2022-05-24 19:17] Horusfeathers commented on #41
Yes, you may take this task.

[2022-05-24 22:29] SirLRonHODLer commented on #64
Hello, i submitted the bounty claim, and it is the same that is on the report.
zng5g32A6SEVRJPxBC18VWQw3ZUy6sqKY33

I will try again to submit the bounty claim.

[2022-05-24 23:06] magpie17 commented on #51
Done! Thanks again.

[2022-05-25 07:09] bonsung commented on #51
well received bounty $30. Thank you very much. It was a good experience for me.
![Image](https://user-images.githubusercontent.com/80498890/170201854-7d7d1009-0b33-4b54-8cf6-4ea481966e80.png)

[2022-05-25 08:31] PowerVANO commented on #64
@SirLRonHODLer Found it, thanks! I just need your real life first and last name in that bounty claim. Please submit it again this way.

[2022-05-25 09:15] PowerVANO commented on #51
Doing a status update:

**Checked and complete:**

1. @psyraxaus - Completed. Paid.
Active report: https://github.com/HorizenOfficial/HDE-Proposals/issues/51#issuecomment-1120119914
2. @infinitEnigma - Completed. Paid.
Active report: https://github.com/infinitEnigma/HDE-Proposals/blob/tokenmint-test/Test-tokenmint_report.md
3. @iantheitguy - Completed. Paid.
Active report: https://github.com/Horiz

[2022-05-25 15:17] Husk-Eisborn commented on #64
https://docs.google.com/document/d/1mqqkMIePlUGEkIHmaOu__sel9F1wRuxEaEZKOAKDdz8/edit?usp=sharing

[2022-05-26 08:25] SirLRonHODLer commented on #64
done. keep this confidential :)
thanks @PowerVANO

[2022-05-26 14:45] DeFiMoney-Printer commented on #66
@PowerVANO I'd like to take this task

[2022-05-26 15:39] DeFiMoney-Printer commented on #11
@Horusfeathers here is my draft for the final review. - I will publish it with a public link once given the OK.

 @PowerVANO once submitted and approved will you let me know any other steps I may need to take for bounty? Thanks!

https://medium.com/@defi-money-printer/horizen-the-zero-knowledge-enabled-network-of-blockchains-zendoo-da93eaf0acc7

[2022-05-26 19:27] DeFiMoney-Printer commented on #66
Note: I may take up the written task first, and use it to guide the video for this task. stay tuned :)

[2022-05-27 04:46] DeFiMoney-Printer commented on #11
published publicly after one more final edit and have submitted the HDE bounty claim.

https://defi-money-printer.medium.com/horizen-the-zero-knowledge-enabled-network-of-blockchains-zendoo-da93eaf0acc7

Thanks @Horusfeathers @PowerVANO !

[2022-05-27 16:47] PowerVANO commented on #64
@SirLRonHODLer Thank you very much! No worries, it will be kept confidential.

[2022-05-27 16:49] PowerVANO commented on #64
**Checked and complete:**

1. @nikvladan - Paid
Active report: https://docs.google.com/document/d/e/2PACX-1vS0wsTO92KqYDA5xBuJhbA8PeRIx9UHoWJ3Zj05ZT6c5UJW2P1ooJ6lFHU-T9o7L7rtXtNtWuvRjbGG/pub
2. @Gruyerman - Paid
Active report: https://docs.google.com/document/d/1F8NcZEJSR9HlZzTU06jlYsr42sMe6o4-NgX0OLYZCbk/
3. @infinitEnigma - Paid
Active report: https://docs.google.com/document/d/11h4CW_rIiiy8d0Sb

[2022-05-27 16:52] PowerVANO commented on #64
We would also like to upgrade your Test Pilot roles on our Discord. Please provide your Discord handles so that we do that.

@nikvladan
@Gruyerman
@infinitEnigma
@cryptochris123
@tolgagurlu
@psyraxaus
@SirLRonHODLer
@magpie17
@tusharkhatri
@nanyin1
@mmohit00007
@mahnoor089
@PereMandril
@MataNomada
@beksl
@dmscos4
@astroeng925
@leepai2015
@jaewkim00
@monahk009
@NuzziMase
@DrrStrange
@jambulmerah
@t

[2022-05-27 17:04] cryptochris123 commented on #64
@PowerVANO Thanks. DISCORD HANDLE = Chris123#7276

[2022-05-27 17:47] PowerVANO commented on #11
Payment issued @DeFiMoney-Printer!

[2022-05-27 17:48] PowerVANO commented on #51
Doing a status update:

**Checked and complete:**

1. @psyraxaus - Completed. Paid.
Active report: https://github.com/HorizenOfficial/HDE-Proposals/issues/51#issuecomment-1120119914
2. @infinitEnigma - Completed. Paid.
Active report: https://github.com/infinitEnigma/HDE-Proposals/blob/tokenmint-test/Test-tokenmint_report.md
3. @iantheitguy - Completed. Paid.
Active report: https://github.com/Horiz

[2022-05-27 17:48] PowerVANO commented on #51
Closing this task as all 10 participants have been paid. Thank you very much for the participation!

[2022-05-27 17:48] #51 closed

[2022-05-27 17:49] PowerVANO commented on #64
@SirLRonHODLer - Paid.

[2022-05-27 17:50] tusharkhatri commented on #64
Discord name : psycho2#8994

[2022-05-27 17:58] Gruyerman commented on #64
Oh that's cool, thank you @PowerVANO
My discord :
Gruyerman#3420

[2022-05-28 06:45] leepai2015 commented on #64
@PowerVANO Discord Handle : leepai2015#6378

[2022-05-28 06:58] magpie17 commented on #64
@PowerVANO my discord handle = magpie17#6861

[2022-05-28 08:12] jaewkim00 commented on #64
@PowerVANO  my discord : asam#8107

[2022-05-28 08:34] mmohit00007 commented on #64
@PowerVANO my discord mmohit00007#2734

[2022-05-28 08:41] iantheitguy commented on #64
@PowerVANO my discord  done the 2 tasks dont you think I be to get upgrade your Test Pilot roles on our Discord. Please provide your Discord handles iantheitguy#7210 was place 26 on this test.

[2022-05-28 16:01] MataNomada commented on #64
@PowerVANO - My Discord Handle : kulkownik#0586

[2022-05-28 16:21] tolgagurlu commented on #64
discord handle fakebaba#9499

[2022-05-28 16:45] SirLRonHODLer commented on #64
@PowerVANO
My discord: SirLRonHODLer l bakrd0mains.tez#2762

[2022-05-30 02:20] dmscos4 commented on #64
@PowerVANO

Discord name : MW#3593

[2022-05-30 14:44] PowerVANO commented on #64
We would also like to upgrade your Test Pilot roles on our Discord. Please provide your Discord handles so that we do that.
I have already filled out some from the information above and from the previous task as well.

@nikvladan - Trololino#1141
@Gruyerman - Gruyerman#3420
@infinitEnigma - |o0l0o|#7266
@cryptochris123 - Chris123#7276
@tolgagurlu - fakebaba#9499
@psyraxaus - psyrax#8184
@SirLRonHO

[2022-05-30 14:53] PowerVANO commented on #64
@astroeng925 - Please go to https://hde.horizen.io/account and submit a bounty claim (button at the end of the page).
Active report: https://docs.google.com/document/d/19UY_9Ie2-HtFXwNd8WIhUZGdCj6l2VUExylNf4FYiOg/edit?usp=sharing

[2022-05-31 09:34] beksl commented on #64
**@beksl**
discord: bekal>yawum.wam#2522

[2022-06-04 00:58] bonsung commented on #51
Dear, VANO. How are you? I have a question. 1. Recently, I can't send DM to you on discord , not like before. Can' you tell me the reason? 2. How can I get co-pilot badge on my discord?

[2022-06-10 11:35] FranChiscu commented on #41
hii, i can do it this task? i'm a native spanish. i can do it in 1 week if do you prefer,
thanks.

[2022-06-11 04:42] HeroicStoicWarrior commented on #64
Bounty claim: https://docs.google.com/document/d/1h4qHbtj_2P6i7d5Mrw54NntDzXhYaGIrQmnybJ6bREo/edit?usp=sharing

[2022-06-15 02:15] Sam-Steel55 commented on #27
I would like to complete this task.

[2022-06-15 15:29] Sam-Steel55 commented on #27
I've completed and published my article :

 https://link.medium.com/rzEyIMlMSqb

[2022-06-15 15:34] Sam-Steel55 commented on #27
I've completed and published my article :

https://link.medium.com/rzEyIMlMSqb

[2022-06-15 15:35] Sam-Steel55 commented on #27
I've completed and published my article :

https://link.medium.com/rzEyIMlMSqb

[2022-06-17 16:46] paragismb commented on #11
I'm approved as ambassador. Can I take up this task? The article will be published on Substack.

[2022-06-17 16:55] Horusfeathers commented on #11
Yes you may

[2022-06-17 16:56] paragismb commented on #11
Okay. Starting work.

[2022-06-24 15:24] paragismb commented on #11
Completed Task: https://thecoinbuzz.substack.com/p/a-quick-dive-into-horizon-the-zero
Tweet: https://twitter.com/paragism_/status/1540351332481003520?s=20&t=woZW6WcMJWJ6YL61XYLJdw

[2022-06-24 18:03] FranChiscu commented on #41
Yes.

[2022-06-24 18:09] Horusfeathers commented on #41
This task is still pending @luisantoniocrag and not available at this time.

[2022-06-24 18:10] FranChiscu commented on #41
Okey, will you notify me by email?
Thanks

[2022-06-24 18:18] FranChiscu commented on #41
Yes i know, i wait for the respone of luisantonio

[2022-06-24 18:19] FranChiscu commented on #41
Do you have another pending task of translate to spanish?

[2022-06-24 21:20] luisantoniocrag commented on #41
Hi @FranChiscu I'm in review-stage. I think that #40 is available for work?

[2022-06-24 21:49] FranChiscu commented on #41
Okey, i take the task for me. Thanks.
When i finish to translate where do i send it?

[2022-06-24 21:50] FranChiscu commented on #40
Hi, i take the task :)

[2022-06-24 21:50] luisantoniocrag commented on #41
You should ask in #40 and tag Horusfeathers

[2022-06-24 21:51] FranChiscu commented on #41
Okey, thanks

[2022-06-24 21:52] FranChiscu commented on #40
Hi @Horusfeathers can i take the task? It is aviable?

[2022-06-25 11:01] paragismb commented on #65
Can I take up this job?

[2022-06-28 14:36] PowerVANO commented on #27
Payment processing for this task.

[2022-06-28 14:40] PowerVANO commented on #11
Payment processing for this task.

We won't be accepting new entries and once payments are processed, the task will be closed.

[2022-06-28 14:47] PowerVANO commented on #65
@paragismb yes, you can. I do not believe we have 6 people already working on this.

[2022-06-28 14:49] PowerVANO commented on #40
@FranChiscu let's wait for @horusfeathers to check status. She will be back in office next week.

[2022-06-28 14:51] #64 closed

[2022-06-28 14:53] PowerVANO commented on #36
@toprakdere @SolomonViktor
Are you Horizen Ambassadors? If not, please apply first here, before starting your work: https://www.horizen.io/ambassadors/

[2022-06-28 14:54] PowerVANO commented on #23
@DeFiMoney-Printer sorry for the late reply here.

Let's wait for @horusfeathers to check the status of this task.

[2022-06-28 14:55] PowerVANO commented on #22
@DeFiMoney-Printer yes, that is correct. HDE website picks up payments using those labels. 2 spots left here.

[2022-06-28 14:55] paragismb commented on #65
Tokenmint chain is under maintenance. I can do it once it is active I think.

[2022-06-28 16:52] FranChiscu commented on #40
Okey, i wait their response.
Thanks

[2022-06-29 13:10] Sam-Steel55 commented on #27
Received. Thanks

[2022-06-29 18:04] PowerVANO commented on #11
@paragismb @Sam-Steel55 payments sent.

Closing this task.

[2022-06-29 18:05] #27 closed, assigned to nobody

[2022-07-02 15:22] paragismb commented on #65
Work done. Article Link: https://thecoinbuzz.substack.com/p/create-your-own-token-using-horizen
Tweet: https://twitter.com/paragism_/status/1543253676248035328?s=20&t=jAitrFHyhxi1zhldbdOKGQ

[2022-07-08 15:59] Horusfeathers commented on #40
This task is completed previously. Thank you. @PowerVANO please close the task

[2022-07-08 16:00] Horusfeathers commented on #23
This task is complete. @PowerVANO please close put the task

[2022-07-08 17:34] paragismb commented on #24
Can I take up this task?

[2022-07-12 11:24] PowerVANO commented on #65
Payment claim submitted and is being processed.

[2022-07-12 16:01] PowerVANO commented on #65
@paragismb @Horusfeathers payment has been issued.

[2022-07-14 12:55] PowerVANO opened #67 "Ambassador Task: Create a Token on TokenMint Platform and Write an Article or Blog or Publish a Video About Your Experience"
**Goals:**

Create your own token on Horizen’s new TokenMint Platform and document steps/findings using the [Google Docs template](https://docs.google.com/document/d/1iMeI4UXitcoNHe-5-JJAMKdcUnh5A8ywNb83ypcD6Wc/edit?usp=sharing). Then write an article or blog about your experience.

**Scope of work:**

**Token Creation:**

Create a new token on the TokenMint platform. You need to provide:

- A lin

[2022-07-14 13:00] PowerVANO opened #68 "Ambassador Task: Translate the TokenMint Platform User Guide - French"
**Scope of work:**

- Translate the full TokenMint platform [user guide](https://docs.google.com/document/d/1SFU6XVd4Ex9alKzRThGIgmJvq-gCWMgy/edit?usp=sharing&ouid=100421764537297846576&rtpof=true&sd=true) in French

**Schedule Milestones:**

This task may only be completed by an official Horizen Ambassador or pre-approved person. For the task to be considered complete, it will need to be reviewed

[2022-07-14 13:00] PowerVANO opened #69 "Ambassador Task: Translate the TokenMint Platform User Guide - Spanish"
**Scope of work:**

- Translate the full TokenMint platform [user guide](https://docs.google.com/document/d/1SFU6XVd4Ex9alKzRThGIgmJvq-gCWMgy/edit?usp=sharing&ouid=100421764537297846576&rtpof=true&sd=true) in Spanish

**Schedule Milestones:**

This task may only be completed by an official Horizen Ambassador or pre-approved person. For the task to be considered complete, it will need to be reviewe

[2022-07-14 13:00] PowerVANO opened #70 "Ambassador Task: Translate the TokenMint Platform User Guide - Korean"
**Scope of work:**

- Translate the full TokenMint platform [user guide](https://docs.google.com/document/d/1SFU6XVd4Ex9alKzRThGIgmJvq-gCWMgy/edit?usp=sharing&ouid=100421764537297846576&rtpof=true&sd=true) in Korean

**Schedule Milestones:**

This task may only be completed by an official Horizen Ambassador or pre-approved person. For the task to be considered complete, it will need to be reviewed

[2022-07-14 13:00] PowerVANO opened #71 "Ambassador Task: Translate the TokenMint Platform User Guide - Chinese"
**Scope of work:**

- Translate the full TokenMint platform [user guide](https://docs.google.com/document/d/1SFU6XVd4Ex9alKzRThGIgmJvq-gCWMgy/edit?usp=sharing&ouid=100421764537297846576&rtpof=true&sd=true) in Chinese

**Schedule Milestones:**

This task may only be completed by an official Horizen Ambassador or pre-approved person. For the task to be considered complete, it will need to be reviewe

[2022-07-14 13:00] PowerVANO opened #72 "Ambassador Task: Translate the TokenMint Platform User Guide - Russian"
**Scope of work:**

- Translate the full TokenMint platform [user guide](https://docs.google.com/document/d/1SFU6XVd4Ex9alKzRThGIgmJvq-gCWMgy/edit?usp=sharing&ouid=100421764537297846576&rtpof=true&sd=true) in Russian

**Schedule Milestones:**

This task may only be completed by an official Horizen Ambassador or pre-approved person. For the task to be considered complete, it will need to be reviewe

[2022-07-14 14:11] paragismb commented on #24
As discussed with Erica, started working on this.

[2022-07-14 15:17] PowerVANO commented on #66
More entries won't be accepted for this task. Please jump to the mainnet task: https://github.com/HorizenOfficial/HDE-Proposals/issues/67

@DeFiMoney-Printer please let us know if you have already started doing this or the written task. If not, it would be best for you to jump the mainnet task above as well.

[2022-07-15 07:36] iantheitguy commented on #67
Is this task only for Ambassador?

[2022-07-15 13:03] xgarreau commented on #68
Hi ! I would like to take this task.

[2022-07-15 16:09] xgarreau commented on #67
Hi !

I just went through the process of token creation for $LOVE and just wanted to add a comment on fees :
Minting fee is 1 $ZEN. (it was for me at least).

I would be a pleasure to do this task for another token (in french if suitable).

Regards,
Xavier

[2022-07-15 16:14] xgarreau commented on #68
Starting page 31/57 ^^

[2022-07-15 16:16] PowerVANO commented on #67
@iantheitguy Yes, or for pre-approved persons. If you are not an ambassador and would like to be approved for this task, contact erica [at] horizen.io.

@xgarreau Thank you, fixed the error in the text! As long as @horusfeathers approves, that would be ok I guess.

[2022-07-15 17:48] PowerVANO commented on #67
@xgarreau Erica approved - you can take the task.

[2022-07-15 17:49] PowerVANO commented on #68
@horusfeathers FYI ^^

[2022-07-15 18:22] DeFiMoney-Printer commented on #67
I will begin work for this task ASAP for tokenmint main-net (and likely Episode 3 for my video series of "Zendoo IT!")

[2022-07-15 22:55] DeFiMoney-Printer commented on #67
update - video is recorded, document started $ZCAT minted (and I won the race to mint.... but not declaring vs $SUGAR) hehe I sent my self 11.3 ZEN for safety buffer

[2022-07-15 22:55] DeFiMoney-Printer commented on #67
https://explorer.tokenmint.global/token/69a3058d5dcb30c1edd3f3c4d0dd54d05677bd9b929ae01ed654891befad88ba

[2022-07-16 13:49] xgarreau commented on #68
Hi !
Here is a French user guide :)
--> https://docs.google.com/document/d/16C-UAGrQhJd5VltNLcJC8enxleKtsF6p
Let me know if there is something to improve.
Have a nice day !
Xavier

[2022-07-17 16:58] paragismb commented on #24
Work is done.
Article: https://thecoinbuzz.substack.com/p/the-future-is-being-built-on-horizen
Tweet: https://twitter.com/paragism_/status/1548713518001975296?s=20&t=tDqokY1f8AawSKJ2RjNNWA

[2022-07-17 22:29] DeFiMoney-Printer commented on #67
@PowerVANO work is completed for submission, please note this is not the final version of the video (linked within the document) I will release on youtube with audiosync and cuts. ** https://docs.google.com/document/d/1RdGH_b5-CtxuaW_PP8_hFjBqbYzGKlX-AgeXIlpJwq0/edit?usp=sharing **

[2022-07-18 06:25] luisantoniocrag commented on #41
Hi @PowerVANO @Horusfeathers.

There is the Zendoo Whitepaper translated (Spanish):
https://docs.google.com/document/d/1jZquOcFB30oMZyGrIHDGIP_yUc6mjKrnLnvBpQBN1vI/edit?usp=sharing

Please let me know any changes if it needs.

[2022-07-18 16:58] luisantoniocrag commented on #69
Hi @PowerVANO Could I take this task please?

[2022-07-18 22:10] Horusfeathers commented on #69
Absolutely!

[2022-07-19 18:01] ozturkcueren commented on #67
TokenMint Platform video ve bir çok görev için en uygun zamanda hizmete başlayacağım... Block. Txn adresi oluşumu Zen dağılımı kişi başı ve şuan 10 kişiye kadar $50 ödül

[2022-07-20 17:27] Sam-Steel55 commented on #22
Published my article @Horusfeathers

https://link.medium.com/hKYSCIKQOrb

[2022-07-20 20:25] Horusfeathers commented on #22
Well written! Please submit your bounty claim request.

[2022-07-21 06:06] DeFiMoney-Printer commented on #67
final work @PowerVANO https://www.youtube.com/watch?v=1-FGhsxhtA0

[2022-07-21 10:46] PowerVANO commented on #67
@horusfeathers Can you please review? ^^

[2022-07-21 16:51] Sam-Steel55 commented on #22
Thank you Erica. Claim has been submitted @PowerVANO

[2022-07-22 05:31] DeFiMoney-Printer commented on #67
I submitted the wrong link the first time here is the full one https://www.youtube.com/watch?v=lgAcRNcmGOU

[2022-07-22 16:26] PowerVANO commented on #22
@Sam-Steel55 Claim approved, submitted for payment.

[2022-07-22 16:31] PowerVANO commented on #66
Closing this one as [DeFiMoney-Printer](https://github.com/DeFiMoney-Printer) has done the mainnet task.

[2022-07-22 16:31] #66 closed

[2022-07-22 22:13] Horusfeathers commented on #67
Although I do like the video, an hour is a very long video. Would it be possible to put together a short highlight video in addition to this longer one?

[2022-07-22 22:14] Horusfeathers commented on #41
Thank you. Please submit your claim form.

[2022-07-22 22:16] Horusfeathers commented on #24
This is accepted. Thank you. Please submit a claim form.

@PowerVANO please close out the task

[2022-07-22 22:18] Horusfeathers commented on #68
Thank you @xgarreau please submit your claim form.

@PowerVANO please close out the task

[2022-07-22 22:26] DeFiMoney-Printer commented on #67
@Horusfeathers sure thing. the hard part was getting the longer one together.

[2022-07-23 02:18] luisantoniocrag commented on #41
awesome! just submitted!

[2022-07-23 06:44] DeFiMoney-Printer commented on #67
here is "part 1" highlight reel with a lot of fluf/pauses removed. will have to do multiple of these in a playlist for it to make sense with a few 5 min vids I guess.

https://www.youtube.com/watch?v=t4iyHvv4vsU&t

[2022-07-23 19:54] Tijahraman commented on #67
Hi Vano ! Hope you are doing good. I just emailed Erica, requesting approval before proceeding to a token creation. Also was wondering if it would be possible to document the process in french.

[2022-07-24 18:04] paragismb commented on #22
Can I take up this task? Gonna write an article.

[2022-07-25 10:43] xgarreau commented on #67
@PowerVANO @Horusfeathers
Here is my report and blog entry :
- https://docs.google.com/document/d/1Xw6wmDlpC0TKuUf3D6Le5BGBlA5PPgIxTAJGcJGYEGA
- https://mescryptos.fr/horizen-tokenmint-cobalt-partie-3/

Have a nice day.

[2022-07-25 16:22] PowerVANO commented on #41
Payment is being processed.

[2022-07-25 16:24] PowerVANO commented on #24
Payment is being processed.

[2022-07-25 16:31] Horusfeathers commented on #67
Great work Xavier! Please submit your bounty claim form.

[2022-07-25 16:31] Horusfeathers commented on #22
Yes you may!

[2022-07-25 16:31] Horusfeathers commented on #22
Yes you may!

[2022-07-25 16:32] PowerVANO commented on #68
Payment processing for this one as well.

[2022-07-25 16:50] PowerVANO commented on #67
@xgarreau tech side document is all good as well!

[2022-07-25 17:03] PowerVANO commented on #22
@Sam-Steel55 your payment has been sent for this task. Thanks for your work!

[2022-07-25 17:07] paragismb commented on #22
Ok. Starting work.

[2022-07-25 17:42] Horusfeathers commented on #67
Yes you may complete this task! It is acceptable if the article is in French if it can be translated to English with a browser. Otherwise it should be in English. The feedback document should also be in English

[2022-07-25 18:06] PowerVANO commented on #68
This task has been paid. Thank you for your work @xgarreau!

[2022-07-25 18:06] #68 closed

[2022-07-25 18:08] PowerVANO commented on #24
Payment has been done. @paragismb Thank you very much for your work!

[2022-07-25 18:08] #24 closed

[2022-07-25 18:09] PowerVANO commented on #41
@luisantoniocrag payment has been made. Thank you for your work!

[2022-07-25 18:10] #41 closed

[2022-07-25 18:16] #40 closed

[2022-07-25 20:38] DeFiMoney-Printer commented on #67
hey @Horusfeathers @PowerVANO I have cut down the 1:06:00 video down to ~11 minutes in 2 sections (part 1 is everything up to the forward transfer from sphere to cobalt) (part 2 is everything beyond.)

I will also upload as a single video which should be under 12 minutes. stay tuned. here is the playlist with part 1 & 2 https://www.youtube.com/watch?v=t4iyHvv4vsU&list=PL4NIyXp-fOZp3jDpEfCCoZl44CD4

[2022-07-25 21:40] Horusfeathers commented on #67
Great! Thank you. Please submit your bounty request form.

[2022-07-26 02:02] Tijahraman commented on #67
Thank you so much for your answer. Here is the link to my token creation report
https://docs.google.com/document/d/1W6IxJ0BKpAWZgBzgcqm4OV0bN6oghIzKmJVEx0c5jq4/edit?usp=sharing

Here is the link to the article I wrote (in english)
https://medium.com/@tijahraman/create-your-own-token-today-283d7eb2a76d

 I would love to create another token and write this time the article about the process in frenc

[2022-07-26 14:46] #30 closed

[2022-07-26 15:29] PowerVANO commented on #67
1. @[xgarreau](https://github.com/xgarreau) - Paid
Active report: https://docs.google.com/document/d/1Xw6wmDlpC0TKuUf3D6Le5BGBlA5PPgIxTAJGcJGYEGA
Blog: https://mescryptos.fr/horizen-tokenmint-cobalt-partie-3/

2. [DeFiMoney-Printer](https://github.com/DeFiMoney-Printer) - Video review
Active report: https://docs.google.com/document/d/1RdGH_b5-CtxuaW_PP8_hFjBqbYzGKlX-AgeXIlpJwq0/edit?usp=sharing
Vi

[2022-07-26 15:31] #23 closed

[2022-07-27 16:28] PowerVANO commented on #67
@[xgarreau](https://github.com/xgarreau) - Paid
Active report: https://docs.google.com/document/d/1Xw6wmDlpC0TKuUf3D6Le5BGBlA5PPgIxTAJGcJGYEGA
Blog: https://mescryptos.fr/horizen-tokenmint-cobalt-partie-3/

[DeFiMoney-Printer](https://github.com/DeFiMoney-Printer) - Paid
Active report: https://docs.google.com/document/d/1RdGH_b5-CtxuaW_PP8_hFjBqbYzGKlX-AgeXIlpJwq0/edit?usp=sharing
Video: https://w

[2022-07-27 17:02] PowerVANO commented on #67
@Tijahraman please submit a bounty request via HDE website, Erica approved your blog as well: https://hde.horizen.io/

[2022-07-28 16:38] PowerVANO commented on #67
1. [xgarreau](https://github.com/xgarreau) - Paid
Active report: https://docs.google.com/document/d/1Xw6wmDlpC0TKuUf3D6Le5BGBlA5PPgIxTAJGcJGYEGA
Blog: https://mescryptos.fr/horizen-tokenmint-cobalt-partie-3/

2. [DeFiMoney-Printer](https://github.com/DeFiMoney-Printer) - Paid
Active report: https://docs.google.com/document/d/1RdGH_b5-CtxuaW_PP8_hFjBqbYzGKlX-AgeXIlpJwq0/edit?usp=sharing
Video: http

[2022-08-02 17:40] paragismb commented on #22
Work done.
Article: https://thecoinbuzz.substack.com/p/building-a-supply-chain-management
Tweet: https://twitter.com/paragism_/status/1554522318978039813?s=20&t=Zpddm7XGUgV9fq3zNAAXug

[2022-08-02 19:33] Horusfeathers commented on #22
This piece is approved. Please submit your bounty claim form.

@PowerVANO

[2022-08-03 11:48] PowerVANO commented on #22
Payment in progress.

[2022-08-04 11:36] PowerVANO commented on #22
@paragismb @Horusfeathers Payment has been made. Closing this task.

[2022-08-04 11:37] #22 closed

[2022-08-06 07:59] bonsung commented on #67
@PowerVANO , @erica.
Hi. How can I contact @erica to get approval to join this task? I already created my token and finished google docs.
I am not ambassador but hope to present my result sincerely.

[2022-08-07 07:20] bonsung commented on #67
Please help me to get approval for the task. I can't touch with Erica.

[2022-08-08 15:08] bettira07 commented on #36
نعم اريد ان اعمل اعلمني مافعل

[2022-08-08 15:10] bettira07 commented on #39
نعم جاهز

[2022-08-09 10:30] PowerVANO commented on #67
@bonsung Please share the Google Docs document. I have already requested access.

[2022-08-09 23:37] bonsung commented on #67
@PowerVANO , I just did, please check it for me. Thank you~

[2022-08-10 19:15] PowerVANO commented on #67
Hey @bonsung

Thank you! Here is my feedback:

- A link to the token Mint transaction from TokenMint block explorer
This needs to be fixed - it should be from explorer.tokenmint.global, not from app.tokenmint.global. It is a "TokenFungibleMint" transaction. Please provide the correct link in the Google Docs file.

- In the feedback section for Sphere by Horizen, what do you mean exactly by "useles

[2022-08-10 23:53] bonsung commented on #67
1. I've amended the link of "TokenFungibleMInt" transaction.
2. Regarding the feedback of sphere, I've added my photo to be cleared by meaning.
3. How to make a signature, please show me how to do it? You said give me a video, but I can't find it.

[2022-08-11 03:17] bonsung commented on #67
Dear VANO,

I finished above mentioned 3 things and shared the goole docs with you.
Please check it for me again.
Thank you~

[2022-08-11 11:09] PowerVANO commented on #67
@bonsung All good, payment submitted for processing. Thank you!

[2022-08-12 11:12] PowerVANO commented on #67
@bonsung Payment has been made. Thank you for your contribution!

[2022-08-12 11:13] PowerVANO commented on #67
1. [xgarreau](https://github.com/xgarreau) - Paid
Active report: https://docs.google.com/document/d/1Xw6wmDlpC0TKuUf3D6Le5BGBlA5PPgIxTAJGcJGYEGA
Blog: https://mescryptos.fr/horizen-tokenmint-cobalt-partie-3/

2. [DeFiMoney-Printer](https://github.com/DeFiMoney-Printer) - Paid
Active report: https://docs.google.com/document/d/1RdGH_b5-CtxuaW_PP8_hFjBqbYzGKlX-AgeXIlpJwq0/edit?usp=sharing
Video: http

[2022-08-12 12:32] bonsung commented on #67
Dear VANO,

Well received for the bounty like below
https://explorer.horizen.io/tx/de2e3226acd911b25d81d0d3a0531a34ae93f3065f3161b932e43b16bef9e45a

It was a great experience for me to participate in this task. Even though I
am just a beginner for crypto world but Horizen made me change a lot and
gave me a big help to change new world.
Thank you again for supporting and guiding me.

#Horizen $ZEN

[2022-08-17 10:10] PowerVANO commented on #67
Great to hear such a positive feedback, @bonsung!

[2022-08-17 21:32] luisantoniocrag commented on #69
Hi @PowerVANO @Horusfeathers

The Spanish Translation of TokenMint Platform User Guide is done:

https://docs.google.com/document/d/1FpuSO3VdSoK1QhEzvh_PqBw4vi2CuLo4VdhcEvuzu1g/edit?usp=sharing

[2022-08-18 15:13] saddam7740 commented on #36
اريد ان اترجم

[2022-09-03 01:57] luisantoniocrag commented on #67
Could I work on this?

[2022-09-26 22:34] yzydbdhmhsnsyd commented on #36
اريد ان اترجم

[2022-09-27 22:48] luisantoniocrag commented on #69
@PowerVANO @Horusfeathers Could I take another task while you review this one please?

[2022-09-30 15:49] PowerVANO commented on #69
@luisantoniocrag of course! You can take multiple tasks at the same time.

[2022-10-06 20:17] BRAZENIUM commented on #43
Hello sir, I have already applied for the ambassador. And as I'm fluent in Hindi I can help in translating the task. I am keen Interested in this task.

[2022-10-06 20:21] BRAZENIUM commented on #45
I am keen Interested in this task. I have already applied for the ambassador. Sir, kindly assign this to me.

[2022-10-11 07:00] mmohit00007 commented on #64
@PowerVANO thanks ☺️. Discord username - mmohit00007#2734

On Fri, 27 May, 2022, 10:23 pm PowerVANO, ***@***.***> wrote:

[2022-10-11 07:15] bonsung commented on #64
discord handle: ZEN Yongsu#1620

[2022-10-11 08:29] bonsung commented on #64
My discord is ZEN Yongsu #1620. Please up grade me as a co pilot~

2022년 5월 30일 (월) 오후 10:54, PowerVANO ***@***.***>님이 작성:

--
________________________________________________________________
Park, Jong Pil
***@***.***

[2022-10-11 14:01] BluePunkrocker commented on #64
Discord handle Neon_Jesus 4691 905#9280
-------- Original message --------From: mmohit00007 ***@***.***> Date: 10/11/22  12:00 AM  (GMT-08:00) To: HorizenOfficial/HDE-Proposals ***@***.***> Cc: BluePunkrocker ***@***.***>, Mention ***@***.***> Subject: Re: [HorizenOfficial/HDE-Proposals] Create Your Own Token on Horizen’s TokenMint Platform (Issue #64)

@PowerVANO thanks ☺️. Discord username - mmo

[2022-11-11 15:08] PowerVANO commented on #69
Hey @luisantoniocrag please submit a bounty claim request form from the HDE website.

[2022-11-12 22:15] ranaezzelarab commented on #36
I'm ready

[2022-11-17 21:07] 2gjig commented on #71
انا جاهز الترجمة

[2022-11-23 19:22] 773937434 commented on #36
How i get this task

[2022-11-26 01:41] luisantoniocrag commented on #69
Hey @PowerVANO Thank you!

I tried to authenticate myself in HDE platform but it seems there is an error when try to login with GitHub. I tried several times and from many browsers.

<img width="1512" alt="Screenshot 2022-11-25 at 19 41 10" src="https://user-images.githubusercontent.com/42625753/204067618-978fe3e6-78ef-4d03-9e33-052bfb490e2a.png">